[2015-06-24 19:25] lo-co opened #1 "Provide Humidifier Test Interface"
I have no way of testing this but should be trivial.  The Meerstetter TEC will be used with a power output to control the humidity via a power output.  The interface will require:
- PID controls for controlling the humidifier.  We might be able to use a process variable directly with the Meerstetter TEC, but I will have to investigate this.
- An input for the Vaisala device that will act as the pr

[2015-06-24 19:57] lo-co opened #2 "Connect CVT"
CVT is provided and needs to be connected through the web service and hooked up on the other side.

[2015-06-24 19:59] lo-co opened #3 "Write Data File Header"
This is very configurable, so the issue is not straight forward.  We don't know what objects will be available for writing until run time, and currently the data objects are not registered with the controller until the first message is received.  *_This probably needs to be changed so that the objects are registered beforehand and the header can be registered with the file writers. *_

[2015-06-24 20:02] lo-co opened #4 "Route Data"
Route the external device data so that it goes to the proper instrument.  The CRD will require information from any of the following:
- Mass flow controller
- Pressure transducer

The values of pressure and temperature are required to produce the correct extinction values.  The system does not know what device will be the one that needs to register the device for data use.  The device should proba

[2015-06-25 16:21] lo-co opened #5 "Add External Stop"
Add a channel to watch on one of the multifunction DAQ cards that allows the user to use hardware to shut the system down.

[2015-06-25 23:41] lo-co opened #6 "Change PPT API"
This API is abominable and is inconsistent with the other `Device` APIs.  The ESF is designed so we don't have to pack everything into a single class.  Let each PPT standalone.

[2015-06-25 23:49] lo-co opened #7 "Provide DIO Output for LEDs"
Add outputs for the following:
- Inlet sampling
- Aerosol filtering - `TRUE` is the filtered state
- Denuder bypass
- 405 nm laser on
- 515 nm laser on
-  660 nm laser on
- PAS Speaker on
- Error - triggered by
  - software error
  - low CRD purge flow
  - exceeded max RH in humidified channels
  - exceeded max RH on dried channels
- Heartbeat
- File writing to main
- File writing to mirror

[2015-07-01 06:59] lo-co opened #8 "Fix file writing"
1. Remove space between header and data.
2. Add more descriptive names (append instrument and/or device name at front).
3. Make sure you can mirror data properly.

[2015-07-02 23:16] lo-co commented on #8
Addressed 1 and 2.
1.  Used `Trim Whitespace` before adding a carriage return when writing the header to file.
2. The PAS and CRDS data objects now append the property `Data ID` to the header entries.  For the cells, this will look at `crd.cell_x` or  `pas.cell_x`.  The `Data ID` properties are populated at config time.

[2015-07-02 23:45] lo-co commented on #8
Still not understanding why file write LED (User2) is blinking.  It blinks because the save message is being toggled by the mirror code.  But why is this being toggled?  Why is the mirror code not properly opening a file (the ref is 0)?

[2015-07-03 06:51] #8 closed, assigned to lo-co

[2015-07-03 22:12] lo-co opened #9 "Implement Get Data functionality for Meerstetter TEC"
Functionality for the `Get Data` method has not been implemented.  These needs to be implemented and tested.  Probably want:
- Object Temperature
- Sink Temperature
- Driver Input Voltage (?)

The last one is a question mark because I am not certain if this is the voltage that is being sent to the Peltier element.

[2015-07-10 05:53] #9 closed, assigned to lo-co

[2015-07-10 05:54] lo-co commented on #1
Done but waiting for response that 1) they got it and 2) they are operating it.

[2015-07-29 16:57] lo-co opened #10 "Add ozone DIO"
Provide pulse train out with 0.5 ms width and variable frequency of 20 to 650 Hz for ozone lamp control.

[2015-07-29 16:58] lo-co opened #11 "Add mirror purge DIO"
Manual valve replaced with 3-way solenoid.  Add DIO for this.

[2015-07-29 17:19] lo-co commented on #10
Added task that is using the PAS Housekeeping card.  The task is called **O3 Lamp Ctr**.

[2015-07-29 18:12] lo-co opened #12 "Handle Vaisala Errors"
Two errors being produced:
- Framing error at startup when attempting to set `sdelay`
- Periodic overruns resulting in error `-1073807252`.

The latter results in 0's in the data stream.

[2015-07-30 21:06] lo-co opened #13 "Prevent negative frequencies for driving PAS laser"
Don't know why this is happening, but with nothing in the system, I am getting a negative value for the frequency f_0.  Fix this so that it can be no lower than 50 and no higher than 5000.

[2015-07-30 21:43] lo-co opened #14 "Fix CRD data stream"
Right now, the CRD is defined by the key `CellData`.  This is not appropriate and needs to be fixed.  `CellData` may remain in the context of a CRD object but does not stand on it's own.

[2015-08-05 22:38] lo-co opened #15 "Fix error related to CRD AI"
[code]

Looks like this is strictly related to the blue laser.  Once it starts, it seems to keep going for a looooonnggg time.

[2015-08-06 04:29] #6 closed, assigned to lo-co

[2015-08-06 04:31] #3 closed, assigned to nobody

[2015-08-06 04:31] #1 closed, assigned to nobody

[2015-08-06 04:50] lo-co opened #16 "Wait on IRQ Error on FPGA"
Code 61060:

[code]

[2015-08-06 05:01] lo-co opened #17 "Add message queue"
Add a message queue web service VI for sending messages to the UI.

[2015-08-06 05:02] lo-co opened #18 "Add ability to log warnings"
Add the ability to log warnings to the log file.

[2015-08-06 06:00] lo-co commented on #16
I believe that what happens is that the system needs to be rebooted after a stop is called as we shutdown the FPGA VI.  Probably want to have this such that it is always active and waiting.

[2015-08-06 06:00] #16 closed, assigned to lo-co

[2015-08-06 06:03] lo-co commented on #13
I am not positive as to why this happens, but I probably need to set the `f0` value to -1 if the value is not within the range.  OR/AND...throw a custom warning indicating that `f0` is not where expected.

[2015-08-06 06:05] lo-co opened #19 "Add ability to ignore error/warning codes"
Add ability to not log certain codes to file.

[2015-08-06 06:06] lo-co opened #20 "No error handling for CRDS"
This is what is causing issue with #15 - the error handler should be rebooting the AI but currently there is nothing in the code to allow for this. Closing #15 and submitting this.

[2015-08-06 06:07] lo-co commented on #15
Closing this as it is due to the lack of error handling mentioned in #20.

[2015-08-06 06:07] #15 closed, assigned to lo-co

[2015-08-06 17:32] lo-co commented on #18
Added ability to log warnings and to disregard certain codes.  Placed the initialization in the `Controller::Pre Launch Init` and added a `Log` section to the INI file.  Needs testing.

[2015-08-06 18:24] msrconsulting commented on #20
Added error handling code to preexisting ``Error Handling`` VI.  I stop the blue then red and then restart in the same order.  Needs testing.

[2015-08-06 18:25] lo-co commented on #20
Added error handling code to preexisting `Error Handling` VI.  I stop the blue then red and then restart in the same order.  Needs testing.

[2015-08-06 18:27] lo-co opened #21 "No PAS Error Handling"
Similar to issue #20, there is no error handling specific to the PAS.  That may not be necessary though.

[2015-08-06 18:37] lo-co commented on #17
Added `xData:Msg` that will store the most recent messages and added VIs to store current messages and also to drop messages once no longer needed.  The VIs of interest are
- `System Log:: Add Message`
- `System Log::Drop Message`

The latter VI is accessed directly via the ESF DVR.  These manipulate the property `System Log::Current Msgs`.

[2015-08-06 19:26] lo-co commented on #19
Added and is configurable through the heading `Log` and the key `Log Warnings` in the configuration file.  This is a Boolean value.

[2015-08-06 21:37] lo-co opened #22 "Put CVT into session"
The CVT should be in a CVT session to be accessible to the whole application.

[2015-08-10 03:22] lo-co commented on #18
Seems to work.  Ignores 0 when present (default in configuration file).  Probably should make this so that it never logs 0.

[2015-08-10 16:55] lo-co opened #23 "Add message for changing speaker cycle"
This does not seem to register with the UI.  Must not be there.

[2015-08-10 18:02] lo-co opened #24 "Add clear msg queue web service VI"
This is needed so that we don't drop messages prior to actually capturing them.

[2015-08-10 23:23] lo-co opened #25 "Add service for sending device setpoint"
This should be something that is directed via the device ID.  Currently, there is no infrastructure for this...

[2015-08-11 15:13] lo-co opened #26 "Option for waveform visualization"
Need to be able to see the waveforms generated by the server as this will allow the user to align lasers and whatnot.

[2015-08-12 14:59] #17 closed, assigned to lo-co

[2015-08-12 14:59] #18 closed, assigned to lo-co

[2015-08-12 14:59] #22 closed, assigned to lo-co

[2015-08-12 15:22] lo-co commented on #4
Use something like the [adapter pattern](https://en.wikipedia.org/wiki/Adapter_pattern).

[2015-08-17 05:08] lo-co opened #27 "Add inputs for inclusion into general data stream"
- Signal from sample pump pressure switch indicating blockage
- Signal from laser enclosure interlock
- Signal from differential sensor to indicate blocked impactor

[2015-08-17 05:31] lo-co commented on #27
Added these to the task that was originally called `Main Valves`, now called `General Inputs`.  Removed the input `O3` as I think this was intended for the O3 valve output.  Need to figure out exactly how to set the O3 input properly.

[2015-08-17 05:31] lo-co commented on #27
Also need to add UI elements for this now.  They are now in the data stream.

[2015-08-17 06:47] #19 closed, assigned to lo-co

[2015-08-17 06:47] #23 closed, assigned to lo-co

[2015-08-17 06:47] #25 closed, assigned to lo-co

[2015-08-17 06:47] #27 closed, assigned to nobody

[2015-08-17 23:09] lo-co commented on #4
Began routing with commit to repo today.  Hopefully this will be complete soon.  Add another MAP that will hold the data by device ID.  The MAP contains another variant that in turn will hold
1. an array of cells that will use the data
2. the data itself

The MAP is contained by a variant that is wrapped in a DVR.  This will allow us to update the MAP regularly without forcing the flushing of mess

[2015-08-18 06:05] lo-co commented on #4
Almost have this working but the data is not routing quite properly.  Probably something in configuration.  Need to clean up the `Configure CRD Routing`.

[2015-08-19 22:30] lo-co commented on #12
The Vaisala error seems to be with how the Vaisala probe is outputting data.  I can't seem to get the damn things out of a run mode.  They are just continuously putting out data.

[2015-08-19 22:30] lo-co commented on #4
Looks like we are properly routing data now.  Needs testing.

[2015-08-20 06:52] lo-co commented on #2
Need way of handling instrument data that may be set internally (such as PAS frequencies when the speaker is on).

[2015-08-23 21:14] lo-co opened #28 "Send Device Configuration Information"
The device configuration information is used to build pages based on configuration file settings and whether a device successfully launches.  This could be used on the start page to provide information such as
- connection status
- serial number information
- device type, etc...

Information should be sent via JSON at startup.  Nothing else should be retrieved after startup except updates on conne

[2015-08-23 21:38] lo-co opened #29 "Fix the CVT"
The CVT is not correct for the PAS.  As it is, it is broken out into `pas.spk` and `pas.las`.  The JSON should look like:

[code]

I don't believe there is current mechanism to mash these together to get the structure that I want.  `drive` also appears to be not present.

[2015-08-23 21:44] lo-co commented on #29
Looks like `drive` is supposed to sit under the `enabled` key but for some reason has been set to an array value of booleans after configuration.

Addressing the larger issue seems like it should be straight forward - simply use the dot notation to kick off another level in a cvt entry.

[2015-08-24 06:24] #29 closed, assigned to lo-co

[2015-08-25 21:59] lo-co commented on #4
Works well....

[2015-08-25 21:59] #4 closed, assigned to lo-co

[2015-08-25 22:27] lo-co opened #30 "Add CRD Laser Enable capability"
The front panel controls are there but there is nothing currently on the back end.  Needs to go all the way down to the CRD data where it can be logged.

[2015-08-25 22:43] lo-co commented on #7
Added Spk output LED.  Placed in the `Change Speaker State::Do` method.

[2015-08-25 23:18] lo-co opened #31 "Add CRD Laser Enable capability"
The front panel controls are there but there is nothing currently on the back end.  Needs to go all the way down to the CRD data where it can be logged.

[2015-08-25 23:18] lo-co opened #32 "Ensure that all settings are handled properly at startup"
This means that we should be sending messages from the controller to the instruments to tell them to switch (even if the instruments do this already).

[2015-08-26 21:59] lo-co opened #33 "Do NOT call CVT without parameter update"
This creates a disconnect and means that if we change the CVT call in one place, we may cause an issue with the CVT due to the call not being updated in another.  ALL CVT calls should got in some type of execution command.

[2015-08-28 04:18] #24 closed, assigned to lo-co

[2015-08-28 22:47] lo-co opened #34 "Unnecessary Command Dependencies"
The generic PAS class contains some `ePAS` library dependencies that could cause some wackiness.  These are the commands for switching the speaker and loading a new chirp (there may be others).  Make sure that we have generic commands for some of these and move out the ones that are not related to basic functionality.

**Look for other bad dependencies.**

[2015-08-28 23:03] lo-co commented on #34
In order to do this, I will need to preload some commands and fire them at configuration from the instrument.  We need to ensure that the queue is available at the time the command is fired.  The change of the speaker state occurs in `PAS::RcvCmd` for switching at regular intervals.

[2015-08-28 23:05] lo-co opened #35 "All actors need to inherit from the base actor"
The base actor is `Ex Nested`.  All actors can possibly be controllers so having controller behavior encapsulated within the class is not bad.

[2015-08-31 05:06] lo-co commented on #11
Added the DIO to the MAX list and a message as well as a web service VI.  The message will be fired at startup to switch the flow to the MFC (`TRUE`) and to switch it back to the critical orifice at shutdown (`FALSE`).  Needs testing.

[2015-08-31 05:08] lo-co commented on #31
Not necessary to go down to CRD level.  We are not storing anything so this is not necessary.  Stop at `Controller`.

[2015-08-31 05:15] lo-co commented on #30
Same as #31.

[2015-08-31 05:15] #30 closed, assigned to lo-co

[2015-08-31 23:10] lo-co opened #36 "Preload CMD Queue with Instr Directed Message"
I think this is how we update the CVT from the `Instrument` object at configuration time.  Provide another method which will fire a message to the launching element .  This would be similar to `Command::Send Command and Wait for Response`, but this will not wait for a response - it will just send off the message with no thought for where it goes.

[2015-09-02 04:18] lo-co opened #37 "Add back in sample pump blocked signal"
Mistakenly removed this signal from the list when I removed the blocked impactor signal.  This needs to go back in.

[2015-09-02 04:21] lo-co opened #38 "Add Calibration Actor"
Actor should:
- Read in calibration XML and translate this to an execution sequence.
- Respond for request for stop.
- Exit at completion of sequence.
- Set cal running indicator (LED and software)

This actor will only be interruptable when  requesting stop.  Initially we will not allow editing of sequence on the fly.  Maybe later?

[2015-09-02 04:36] lo-co opened #39 "Add impactor blocked AI"
This signal relates to a differential pressure measurement with a 0-10 V signal.  As the measurement approaches 10 V, it will pass some threshold at which we will indicate that the impactor is blocked.

[2015-09-02 04:42] lo-co commented on #39
Adding differential pressure value in volts to the `xData` object.  It will be available via the serialized string as well as in the file.

[2015-09-02 05:08] lo-co opened #40 "Add ability to turn off and on wave streams"
These streams can produce a lot of data and are:
- The CRD waveform streams
- The PAS waveform streams.

When on LAN or in an environment that can take the load, we should provide a way to access these.  Also, we should provide decimated or averaged array data.

[2015-09-02 05:22] lo-co commented on #40
Same as #26.

[2015-09-02 05:22] #40 closed, assigned to lo-co

[2015-09-02 05:25] lo-co commented on #33
Use function like

[code]

or

[code]

on the client side.  On the server side, simply have a feedback that tests to see if the CVT has changed.  If the CVT is loading for the first time (i.e. we have a page reload), have option for forcing  the CVT to return in the service VI.

[2015-09-02 05:46] #33 closed, assigned to lo-co

[2015-09-02 05:49] lo-co commented on #33
Added an input to the web service VI `cvt`.  This was a value of 0 or 1 - if 1 (not zero), then the CVT is forced to update.  Otherwise, this simply returns an empty object.

[2015-09-02 15:41] lo-co opened #41 "Change laser enable lines to not conflict"
The CRD laser enable pins as well as the denuder bypass are conflicting.  Rob recommends switching to P1.5 - P2.0-2.1

[2015-09-03 15:25] lo-co commented on #11
The web service VI is under `General`.  The message is directed toward the `Controller` and simply toggles the DIO associated with the purge flow switch.

[2015-09-07 05:16] lo-co commented on #26
Crude CRD waveform generation is in - will grab ALL of the waveforms for the CRD (not the PAS yet).  Added key called `writeRD` which takes a boolean value.  If `TRUE`, the system will broadcast the data.  This value toggles a corresponding boolean in the `Cell Data` object called `Write RD?`.  The write refers to the serialization of the raw ringdown data.  This will cause two RD traces to be sen

[2015-09-07 05:23] lo-co commented on #26
The CRD key is tested and awaits only the addition of the PAS waveform inclusion for closing the ticket.

[2015-09-07 06:44] lo-co commented on #41
OK.  So, these were mislabeled.  The red enable will go to P0.0 on the 6132 and the blue enables will go to the 6124 P0.1 and P0.2.

[2015-09-07 06:51] #26 closed, assigned to lo-co

[2015-09-07 06:51] #37 closed, assigned to nobody

[2015-09-07 06:51] #39 closed, assigned to lo-co

[2015-09-07 06:51] #41 closed, assigned to lo-co

[2015-09-08 22:59] lo-co opened #42 "Clean up tables on actor exit"
We need to clean up the actor maps when another actor exit.  The entries should be removed from the enqueuer map as well as the data map.

[2015-09-11 06:01] lo-co opened #43 "Add service for handling power input switching"
Currently on the `Common` page of the application, we have no connection between the client and the power settings.  Seems that I don't even have this as a task in DAQmx.  The task will have the following power supply outputs:
- Denuder
- Laser
- Ozone
- Pump
- TEC

The server will expect a 8-bit number that will be translated to the appropriate array of booleans.  The array is 0 based and will be

[2015-09-11 06:03] lo-co opened #44 "Add heartbeat output"
DAQmx Task is present (called `Heartbeat`).  Set the heart beat to run until the stop is called on the `Controller`.

[2015-09-11 06:10] lo-co commented on #44
Until stop is called, heartbeat will toggle at 1 Hz.

[2015-09-11 07:05] lo-co commented on #43
So, there was nothing here.  Added
- keys and a new section in the configuration file
- message for handling requests within the controller to change the power state
- web service VI for handling external requests

Also, added a new property in the `Controller` called `cfg`.  This maintains a reference to a configuration session and close the session within the `Controller::Stop Core`.  Added new

[2015-09-11 07:08] lo-co commented on #43
Probably need to set the state at close also.

[2015-09-14 06:08] lo-co opened #45 "Add TE Tech devices"
This is huge, but I am having some issues with the communication and need to do some further work on the class before pushing this out into the application.

[2015-09-21 06:01] lo-co opened #46 "Add web service VI to load calibration files"
Add a service VI that can call files and POST them to the client so that the fields are properly populated on calibration pages.

[2015-09-29 16:46] lo-co commented on #12
This is a response from Vaisala to Dave about potential issues with sending information to the Vaisala probes:

[2015-10-30 17:01] lo-co opened #47 "Add write default INI"
If an INI does not exist, add one.  This is an issue if the system has gone down and you need to rebuild everything.

[2015-10-30 17:02] lo-co opened #48 "Get DAQ config out of MAX"
The recent reboot of the system shows a major weakness.  If a config file is out of date, this becomes very problematic and you have to rebuild the system by hand.

[2015-11-03 07:12] lo-co opened #49 "Fail more elegantly if usb drives are not available..."
Need to
1. Not just fail at start causing the system to shutdown, and
2. need to indicate to the user that the drives are not avaliable.

[2015-11-06 19:49] lo-co opened #50 "Provide message for shutting down when init fails"
This seems to be a problem especially with the devices.  Even though we can configure for many devices, some might not be present.  In that case, the device in the `Actor::Pre-init Launch` needs to write a message when an error is passed out.

[2015-11-11 16:36] lo-co commented on #49
This was the cause of some major head aches the past couple of weeks.  The lack of the `v:` drive when requested via configuration killed the startup.  This is now fixed in the most recent version but I am not sure if the cvt was properly handling the state.

[2015-11-11 16:41] lo-co commented on #44
Heartbeat is located on the 6225 card in slot 7 (called `PAS_HK` in the MAX configuration) on `port0/line3`.

[2015-11-11 16:52] lo-co commented on #44
Heartbeat is good.  Turns off and on with the system.  Will close this with the next submit.

[2015-11-11 16:57] lo-co commented on #38
Added write to `O3 LED`.  I will use this for all calibrations even though the title has O3 in it.

[2015-11-11 17:06] lo-co commented on #38
Steps currently available in O3 sequence are:
- `O2 Valve STEP` - sends a message to toggle the O2 valve.
- `O2 Flow Rate STEP` - sends a message to set the O2 flow rate
- `Wait STEP` - sets a wait period in the sequence.
  *`Filter STEP` - sends a message to toggle the speaker position
  *`O3 Generator Power STEP` -sends a message to toggle O3 generator power

Steps for which I have sketched out

[2015-11-11 17:40] lo-co opened #51 "Reboot"
Add service for allowing the client to request a reboot.

[2015-11-12 05:52] lo-co opened #52 "Handle bad device calls"
Handle the instance where there is an attempt to set a device setpoint but the device is not present.  This will mostly be an issue for the cals.  Right now, this returns some verbose error that won't make any sense to anyone.  Needs to return:
- Error
- Device ID that we attempted to access

[2015-11-12 07:26] #44 closed, assigned to lo-co

[2015-11-16 17:12] lo-co commented on #38
I am going to close this when the actor itself is in place.  The steps should be addressed as individual issues as well as some of the other pieces.  The actor should do these following things for closure:
- start on command (done)
- execute commands in timely manner (appears to do this)
- close when finished (testing now)

[2015-11-16 17:18] lo-co commented on #38
Looks like the `Calibration Actor` exits gracefully (i.e. all resources are released).  I do need a stop calibration method (service method) that will return the system to it's original state.

[2015-11-16 17:26] lo-co commented on #35
Refactored.  Close on next check in.

[2015-11-16 17:29] lo-co opened #53 "Devices are not failing properly in configuration"
It is apparent from the logs that the devices are not coming back as configuration failed from `DAQ Device::Pre Init Launch`.  The Alicats seems to be responding appropriately but the Vaisala's and Meerstetter TECs are not.

Devices should not be in the dependency list when they fail and need to be removed from all tables.

[2015-11-16 17:37] lo-co commented on #38
Upon exit, the `Calibration Actor` needs to:
- Reset the filter and speaker to `TRUE`
- Set the filter and speaker cycles to their previous states.
- Set the O2 and O3 valves to closed
- Set the O2 flow to 0

On start:
- Turn off all cycles

[2015-11-17 07:25] #35 closed, assigned to lo-co

[2015-12-14 07:19] lo-co commented on #53
In the `Alicat::Config` method, we check the device three times to determine if it will respond to a request for data.  I have added this functionality to all devices (should probably be in a common `Device::Config`); should fail properly now.

[2015-12-22 08:50] lo-co opened #54 "Add ability to retrieve info from CVT"
Need to be able to retrieve soft parameters from the CVT for humidity control.

[2015-12-29 08:56] lo-co opened #55 "CRD not coming back with good data every other second"
Every other second, the ringdown arrays are empty.  Taus are also off the scales - have no idea what this is about...  This may be expected, but I need to make sure that it is clear to the user...

[2015-12-31 22:10] lo-co opened #56 "Get rid of unrealistic tau values"
Taus are coming back as garbage when the fits are not good.

[2016-01-25 05:09] lo-co commented on #56
This was due to a bad dt or something.  Fixed now

[2016-01-25 05:09] #56 closed, assigned to nobody

[2016-01-29 00:23] lo-co commented on #49
Start appears to be failing if no drive present.  We need to raise a flag to state that no drive is present and handle this accordingly.  **Do we write to the c or just prevent a write?**  I favor the latter as there is limited space in c...

**Also, are the drives recognized if placed after boot?** I believe the answer is yes.

[2016-02-03 23:59] lo-co opened #57 "Verify that devices that don't have a set point still are in CVT"
The code is there, but can not tell if this is the case from the `cvt.json` example in the `exscalabar` client repo.

[2016-02-15 17:51] lo-co opened #58 "CVT is sending back bad data on MFCs"
The stuff coming back from the server is no good - it is puking out all of the model information on the Alicats.  Fix this.

[2016-02-16 07:50] #58 closed, assigned to lo-co

[2016-02-22 06:49] lo-co opened #59 "Vaisala Labels not updating properly"
When the cvt is read in, they are not captured.

[2016-02-23 05:52] lo-co commented on #59
The `[vaisala name].label` was not be called properly in `Configure Device`.

[2016-02-23 06:02] #59 closed, assigned to nobody

[2016-02-23 07:34] lo-co opened #60 "Alicat setpoint not making it to device"
Don't know what is happening here.  Seems to work for one time and then it dies.  Getting error 1556.

[2016-02-25 17:33] lo-co commented on #60
Controller queue associated with one of the MFCs attached appears to be dying at some point.  There is no record of the queue being closed.

[2016-03-08 14:06] lo-co commented on #60
Something is happening where the MFC enqueuer is no longer available which prevents the controller from appropriately responding to the setpoint command but data is still being sent back.  The problem is that it is either:
1. The queue is removed from the `Enqueuer MAP`, or
2. Something is jamming up the `Device::Actor Core` queue.

If it is 1, it is likely due to the kludgey fix to an issue with

[2016-03-08 14:11] lo-co commented on #60
Failure occurs when we try to send message, so it seems we have removed the queue reference from the application at some point.  Ugh.

[2016-03-08 15:10] lo-co commented on #60
The enqueuer is still present in the MAP, but the number associated with the reference is 0.  This indicates that the queue reference is no good anymore.  Is this what it is starting at?

[2016-03-09 20:55] #60 closed, assigned to nobody

[2016-03-10 15:59] lo-co opened #66 "Extra tabs in data file"
Need to get rid of spaces in file.

[2016-03-11 13:41] lo-co opened #68 "Write taus to file"
Separate file for recording taus from all fits.  IMPORTANT!!!

[2016-03-11 13:41] lo-co opened #69 "Write PAS frequency data to file"
Very IMPORTANT!!!!!  Need ability to write frequency data to file (maybe first 2k points?)

[2016-03-11 13:43] lo-co commented on #66
Not just spaces - seems to be associated with humidifier output.

[2016-03-11 13:44] lo-co commented on #55
I believe this was fixed a long time ago.

[2016-03-11 13:45] lo-co commented on #54
Not even sure if this is still good.

[2016-03-11 13:50] lo-co opened #70 "Prevent data write if failed read for device"
If an error is thrown when we attempt to read from a device, prevent the data message from being sent so we don't update with bad data.

[2016-03-11 13:51] lo-co commented on #70
Connected error terminals in `DAQ Device::Actor Core`.

[2016-03-11 13:53] #66 closed, assigned to nobody

[2016-03-11 13:53] #70 closed, assigned to nobody

[2016-03-11 14:14] lo-co commented on #55
Checked file - not a problem.  Closing now.

[2016-03-11 14:14] #55 closed, assigned to nobody

[2016-03-11 14:17] lo-co commented on #53
Fixed issue with devices being removed from table.

Also, fixed issue with registering of data emitters.  Devices that fail configuration will not be registered.  Added a flag to the VI `Controller::Launch Nested` that tells downstream users whether launch failed.  We don't want to pass the error cluster out as this could create big problems.

[2016-03-11 14:17] #53 closed, assigned to lo-co

[2016-03-11 14:18] lo-co commented on #52
Not sure why this is a problem.  Devices that are not present shouldn't
1. receive messages, not
2. have an input on the UI given that the UI is generated on the fly.

Closing this as wontfix.

[2016-03-11 14:18] #52 closed, assigned to nobody

[2016-03-11 14:21] lo-co commented on #45
TE Tech device added.  Need to verify that this is properly added to the device array and that it is writing data to file and sending data to the UI as desired.

Also need UI hooks as well as web service VIs for communicating with it.

[2016-03-11 14:24] lo-co commented on #12
So it seems that communication problems were likely due to wiring?  Need to make sure everyone is in poll or stop mode.  If the data comes back wonky, remove power from devices and restart.  This seems to clear things up.  Working with 2 right now.  Should be good to go and will address issues as we proceed.  Closing for now.

[2016-03-11 14:24] #12 closed, assigned to nobody

[2016-03-11 14:26] lo-co opened #71 "Add PAS waveform data to data stream out"
IMPORTANT for calibration and verification of proper running.  Add time _and_ frequency domain data.  Frequency domain should be truncated so we are not drowning the network connection.

[2016-03-11 14:55] lo-co opened #72 "Add calibration flag to configuration file"
0 = no cal
1 = ozone cal
2 = pressure cal

[2016-03-12 16:05] lo-co opened #75 "Add multiple calculations of variance of tau"
For the purpose of calculating uncertainties, we want to calculate the variance based on chunking portions of the data.  A description of Allan Variance is found here:

https://en.wikipedia.org/wiki/Allan_variance

[2016-03-12 22:45] lo-co commented on #75
This has been added to the VI `CRD Cells::Retrieve Taus`.  It will be **written to file** but **not given a visual cue** (i.e. it is not in the http data stream).

In conjunction with all of this, we have placed the data in the `CRD Cell Data::Serialize -Text` - it will be placed in the last portion of each cell data string in the text file - and have adjusted the VI `CRD Cell Data::Generate Uniqu

[2016-03-13 20:18] lo-co opened #76 "Add TE Tech Control Values"
Currently not in the CVT for the TE Tech are:
- P,I,D
- htx and clx

Add these.

This is related to lo-co/exscalabar#61 on the user interface side.

[2016-03-14 22:37] #71 closed, assigned to nobody

[2016-03-14 22:37] #75 closed, assigned to lo-co

[2016-03-14 22:39] lo-co commented on #45
This is added.  Need to add other values for interaction.  PID and htx and clx.

[2016-03-15 11:31] lo-co opened #77 "Fix issue with alicat sn not properly parsed"
Currently, device is sending back the full line.  Fix this.

[2016-03-16 13:42] lo-co opened #78 "Add denuder support"
System should be able to:
- toggle the denuder bypass state
- adjust the led based on the denuder bypass state
- write the denuder bypass state to file

[2016-03-16 14:20] lo-co commented on #78
Have added everything for both sides except the feedback.  Need to figure out whether we have a return corresponding to the denduer Hanbay bypass valve.

[2016-03-16 14:28] lo-co opened #79 "Provide ability to interact with O3 valve"
Include:
- UI element
- Web service
- Write to file.

[2016-03-16 14:28] lo-co commented on #79
Most of this interaction is currently end.  The web service was not filled out for some reason, but the message that changes the valve position was there.

[2016-03-16 22:12] lo-co opened #80 "Place O3 LED DIO in the correct portion of code"
Currently, this is found in `Calibration Actor::Calibration Engine`.  Needs to go where O3 generator is turned on.

[2016-03-16 22:14] lo-co opened #81 "Log messages from calibration actor"
Simple.  Do it.

[2016-03-16 22:26] lo-co commented on #80
Moved this to the `Power Supply MSG`.  It is currently using the second entry in the array to set the LED status.

THIS NEEDS VERIFICATION!!!

[2016-03-16 22:28] lo-co opened #82 "Add denuder valve return to code"
The denuder valve return has been placed in MAX.  This needs to be added to the `xData` structure as indicator of the current valve positions.

[2016-03-16 22:37] lo-co opened #83 "Provide Calibration Flag"
For file and FP, indicate when a calibration is active and what kind it is.

[2016-03-16 22:40] lo-co commented on #83
We launch the actor from the controller via a message, so we can insert this flag into the `xData` structure.  The flag is available via the property `CalState`.  This is a byte that is one of three values:
- 0 = no calbration active
- 1 = ozone calibration active
- 2 = pressure calibration active

3 would indicate that both were active, but this is not a good case.

[2016-03-17 11:10] lo-co opened #84 "Fix issue with Meerstetter addressing"
Because the address should be in hex, the addressing for > 9 is in correct.  For instance, 16 should be `10` and 14 should be `0E`.

[2016-03-17 11:11] lo-co commented on #84
Changed decode string from `#%02d...` to `#%02h...`

[2016-03-17 13:42] lo-co opened #85 "Fix failure on launch with no external drive"
The whole system fails if there is no external drive attached at `Controller::Pre-Launch Init`.  We need to redirect logs or any other necessary file output (or just not write to files that don't exist).  OR, we need to provide a failure indicator to the user so they no why the system is not running.

[2016-03-17 14:43] lo-co opened #86 "Add valve returns to MAX"
They don't seem to be in there right now.  Need to add these to MAX and read them properly.  Probably should be bytes rather than booleans in and in data stream.  Output to UI appropriately.

[2016-03-17 14:49] lo-co opened #87 "Ensure heartbeat LED is OFF when stopped"
When the system shuts down, ensure that the state is not lit for the LED.

[2016-03-17 14:50] lo-co opened #88 "Not writing to v: drive"
Getting error 10 for Open/Create/Replace File.  Figure out what is going on with this.

[2016-03-17 21:58] #81 closed, assigned to lo-co

[2016-03-17 21:58] #84 closed, assigned to lo-co

[2016-03-17 21:58] #86 closed, assigned to lo-co

[2016-03-17 21:58] #87 closed, assigned to lo-co

[2016-03-18 11:33] lo-co opened #89 "Speaker cal not updating f0"
After a speaker cal, the f0 should change to the value we get from the cals automatically.

[2016-03-18 11:42] lo-co opened #90 "Filter command is erroring when the button on the UI is pressed"
At this moment, send TT or FF if we need the signal.

The error we are getting is `-200428`.  From the explanation of the error:

[2016-03-18 11:45] lo-co commented on #90
I had changed the Task names.  Should be good to go now.

[2016-03-18 11:51] lo-co opened #91 "DIO on Red Enable Task is incorrect"
Set to `CRD HK` for the card should be `CRD Red`

[2016-03-18 11:52] lo-co commented on #89
Need to update CVT when speaker state goes from `TRUE` to `FALSE`.

[2016-03-18 12:10] lo-co opened #92 "Average calibrated resonant frequency"
Currently, we take the last resonant frequency.  What we want to do is to ditch maybe the first two speaker measurements as well as the last and average those in between.

[2016-03-18 12:11] lo-co opened #93 "Remove laser frequency tie to resonant"
Currently, the analysis of the microphone data is always tied to the resonant frequency regardless of the laser frequency.  This needs to be changed.

[2016-03-23 17:31] lo-co opened #94 "Add phase of photodiode and microphone signals"
Add the phase of these signals at the resonant frequency to the data stream.  They should tell the operator something about how good the signals are.  These signals should be out of phase by `pi` when the laser is on resonance.

[2016-03-23 17:31] lo-co commented on #88
I think this is actually working right now.

[2016-03-28 05:55] lo-co opened #95 "Add write for PAS waveforms"
Add service to write waveform data to file.

[2016-03-28 05:56] lo-co commented on #69
Similar to #95, but #95 writes time - this is likely better.

[2016-03-28 05:56] #69 closed, assigned to nobody

[2016-03-28 05:58] lo-co opened #96 "Base IA off of laser frequency"
Currently uses 3 frequencies - resonant + 2 adjacent.  Fix this.

[2016-04-01 06:06] lo-co opened #97 "Translate thermistor data from PAS"
We are currently collecting voltages but there is no translation of the data to actual temperature.

[2016-04-07 06:07] lo-co opened #98 "Add Modulation Control to Web service"
There is currently no modulation VI for the `PAS_CMD` resource.  The command and message is there but these are not currently exposed to the client.

[2016-04-14 04:31] lo-co commented on #82
This is a fairly straightforward fix - all of the data information is there, just need to add the task to the `Controller::Common` method.

[2016-04-14 04:40] lo-co commented on #97
So....I added the two VIs for translation from the `Reusable/General/Temperature` library.  The voltage is first translated to a resistance via `Convert V to Rt` and then from resistance to temperature via the polymorphic VI `Convert R to T`.

[2016-04-14 04:57] lo-co commented on #98
Connected on the UI now.

[2016-04-26 04:40] lo-co opened #99 "STOP SPAMMING LOGS!!!!"
When devices fail to configure properly, we need to provide the error code and a note that the device launch failed.  Right now,
- Meerstetters
- Vaisalas

both spam the logs and messages.  Not acceptable!  An acceptable message looks like this for the pressure transducers:

[code]

The Meerstetters fail with a bunch of messages - one for each command.

**We need to send just one message AND NOT A

[2016-04-26 04:59] lo-co opened #100 "Rename PAS wavform writer ID"
It is currently `PAS`...should be something unique.

[2016-04-26 04:59] lo-co commented on #100
Changed this to `PAS WVfm`.

[2016-04-26 05:00] lo-co commented on #100
This may be why the system was not properly shutting down when #95 was added.

[2016-04-26 05:02] lo-co opened #101 "Issue with Network Actor"
This is the actor that should handle the AC Network Data.  No data coming back but it is throwing an error?

[2016-04-26 05:07] lo-co opened #102 "Device actor startup slow"
Everythign is going in series when we should be trying to start these in parallel.  Also, no messages update while we are in init if device connections are failing.

[2016-04-26 05:22] lo-co commented on #99
May have not been bypassing errors for Meerstetters...  Should throw one and then just push past all other serial IO.

[2016-04-27 06:08] lo-co commented on #102
Broke this out...like devices now launch in parallel.

[2016-04-27 06:10] lo-co opened #103 "Multiple emitter registration"
Data emitters appear to be registering multiple times.  I believe this is because there is a race condition - emitters may be registered in the `Controller::Register Emitters` or in the `Update Controller Data MSG::Do`.  We need to account for the possibility of a race condition in the former.

[2016-04-27 06:38] lo-co opened #104 "System not shutting down properly"
It seems the queues that are being stored in the Enqueuer MAP are no good.  Looking into this now.

[2016-04-27 06:42] lo-co opened #105 "Turn off PAS waveforms"
Write now, we have the hooks for this but the server side code is no good here (incomplete).  Need to fix this because this can hose the communication.

[2016-05-02 05:44] #104 closed, assigned to lo-co

[2016-05-03 06:00] #105 closed, assigned to lo-co

[2016-05-03 06:00] #103 closed, assigned to lo-co

[2016-05-03 06:02] lo-co commented on #102
Everything is in parallel right now...but, if devices are not present they do not die quickly.  Don't think there is anything I can do about this...

[2016-05-03 06:02] #102 closed, assigned to lo-co

[2016-05-03 06:03] lo-co opened #107 "Return is not 1 Hz"
Don't know why...

[2016-05-03 17:42] lo-co commented on #107
Checked the execution time for both the CRDS and the PAS...issue is not there.

[2016-05-03 17:49] lo-co commented on #107
Issue is on client side...the `Data` web service VI is being called with seconds skipped.

[2016-05-03 17:49] #107 closed, assigned to lo-co

[2016-05-04 17:45] lo-co commented on #100
Calls the PAS data object to dump the waveform.  All seems well now.

[2016-05-04 23:16] lo-co commented on #95
Will write arrays of 16-bit integers for both the photodiodes and microphones.

[2016-05-04 23:24] #95 closed, assigned to lo-co

[2016-05-04 23:24] #100 closed, assigned to lo-co

[2016-05-04 23:27] lo-co commented on #85
If the drive is not there, this should redirect to C.  There is plenty of space.

[2016-05-05 04:16] lo-co commented on #85
I don't think there is a way to tell the system this as everything is independent...

[2016-05-05 04:56] lo-co commented on #98
Will be closed in the next check-in.  Goes through client -> web service -> PAS Actor -> PAS.  Returns json that looks like

[code]

Need to get rid of the cvt response of `mod` and stick with `modulation`.

[2016-05-05 06:25] #89 closed, assigned to lo-co

[2016-05-05 06:25] #98 closed, assigned to lo-co

[2016-05-11 11:23] datid opened #108 "Support/Handle Errors.vi missing"
VI called from Vaisala/Get Data for handling non-fatal comms errors pointed to wrong folder and deleted - needs replacing.

[2016-05-11 11:29] datid opened #109 "TEC power supply switches on too late"
The TEC (meerstetter) power supply comes on after device configuration so config always fails.

There is a fix in Meerstetter_test branch.  Is it the best way to do it - and is it the correct point in the sequence ?  (Controller/Actor Core and Init Power affected)

[2016-05-11 11:40] datid opened #110 "Meerstetter config bug"
Bug in Meerstetter config device, trying to cast a string to an enum - just doesn't work - so doesn't select properly between power and temperature control.

Fix in  [Meerstetter_test](https://github.com/lo-co/exscalabar_server/tree/Meerstetter_test) branch.

[2016-05-13 10:43] lo-co opened #111 "TE Cooler not powering on or setting initial set point"
TE Cooler not setting set point at config, and nor powering on.

[2016-05-13 13:09] lo-co opened #112 "Init Power turns on wrong breakers"
The order of the digital outputs in Init Power.vi different to MAX.

[2016-05-13 14:59] datid opened #113 "FPGA connector set up."
PAS speaker enable and ispk enable set up as wrong connector on FPGA.  Should be on connector 1.

Have you compiled the FPGA on our laptop ?  I waited for 1hr15 and gave up - maybe it just takes longer...

[2016-05-13 16:42] lo-co commented on #113
On it

[2016-05-13 21:51] lo-co commented on #113
This issue may be related to this:

http://digital.ni.com/public.nsf/websearch/8FDE6923DA3C069786257A36005C3EEF?opendocument&Submitted&&node=133020_US

that being said, I have had a Window 8 computer since about the time it came out and have had no problem compiling on mine.  I will probably pull it over and try to compile on my local computer.

[2016-05-16 04:31] lo-co commented on #110
Description above is not correct.  We do this all over the place and have no problems.

[2016-05-16 04:51] lo-co commented on #113
Renamed file to `FPGAServerV2.lvbitx` in the folder `FPGA Bitfiles`.  Build was generated off of build spec `FPGA Server v2`.  Probably should have just just reused the original and renamed the build file, but duped the original and made the changes.  The original file is still present.  It is called `FPGA Server`.

[2016-05-16 05:16] #108 closed, assigned to lo-co

[2016-05-16 05:22] lo-co commented on #110
OK...this is now fixed.  Changed `typecast` to `Scan from String`.  Added VI in Meerstetter directory `Test` called `Test Cast` to demonstrate.

[2016-05-16 05:26] lo-co commented on #110
If a bad string is input, the default will be temperature.

[2016-05-16 05:32] lo-co commented on #112
Need a little more information than this.  Are they reversed or are they just jumbled?  How do you know they are incorrect?  Indicators or actual physical testing?

This actually sounds like a UI issue given that both instances use the **exact same** task to run the DO.  My tests actually suggested that all was well with this but I will double check that the logic on the UI is correct (uses a U8 t

[2016-05-16 05:34] lo-co commented on #112
So, I just read the commit message for the above reference and it sounds like the _order_ things were coming on were wrong.  Is this correct?  Did the push above fix this?  Can you close this if it did?

[2016-05-16 05:37] lo-co commented on #112
And, looking at `Init Power`, this looks **really wrong**!  If you were having an issue, I am concerned that the issue may be in the message `PowerSupply MSG`.  Checking this.  If this message is screwed up, the impact would be that the power would init ok, but attempts to change things would be broken.

[2016-05-16 05:41] lo-co commented on #112
Dave, we need to talk about this.  The array in `Init Power` is totally jumbled now.  The inputs should be 1) Sample Pump, 2) O3 Generator 3) Denuder, 4) Laser, and 5) TEC.  In `Init Power`, this is 1) Denuder, 2) Laser, 3) O3 Generator 4) Sample Pump and 5) TEC.  I tested this prior to the update above and the inputs and outputs are as I expect, so it is unclear
1. how the new `Init Power` gets i

[2016-05-16 05:47] lo-co commented on #109
Moving `Init Power` to the front of the line.  Power should come on first anyway, not sure why I put it as almost last....  Probably just the order I worked on things in.  Let's check this again.

[2016-05-16 06:07] #113 closed, assigned to lo-co

[2016-05-16 21:04] lo-co commented on #110
So, this fix did not work...

We have two options for approaching this:
1. Encapsulate behavior in power message and reuse in the init.
2. Create a power supply actor.

The latter might be the best approach...

[2016-05-17 20:17] lo-co commented on #110
Whoops....this problem was fixed.  It is the power issue that is not.

[2016-05-17 20:17] #110 closed, assigned to nobody

[2016-05-17 20:20] lo-co commented on #109
OK...two solutions or both:
1. Move device configuration from `Pre Launch Init` to start of `Actor Core`
2. Add `Power Actor`.

I have done the first and I have started the second.  Need to test the `Actor Core`....

[2016-05-17 23:12] lo-co commented on #109
Moved main config to `Actor Core` and made the config reentrant.  Getting bad behavior now so will need to investigate this further...

[2016-05-18 09:42] JustinLangridge opened #114 "Filter and speaker cycling"
Add option to lock speaker auto-cycle to filter auto-cycle and add access to this control via UI

[2016-05-18 10:19] JustinLangridge opened #115 "Valve states"
Update software to yield correct valve positions (i.e. 5V = open or shut?). These are being tested currently and will be provided when available

[2016-05-19 16:19] lo-co commented on #109
Sooooo...latest fix broke the `Pre Launch Init` for all devices.  For whatever reason, the session references are getting dropped.  Have looked at the configuration in the `Actor Core` and there is no initial error propagating to stop the references from being no good.  Other actors are writing to the log and configuring properly.  Hmmmmm....

[2016-05-20 03:52] lo-co commented on #109
Almost there...data is not coming now but configuration is good.

[2016-05-25 05:50] lo-co commented on #109
So, set a couple of the VIs to reentrant (in the `Device` actor) and now all _seems_ to be working.  This needs testing, but all of the device stuff is up now and everything is coming up much faster.

[2016-05-30 06:20] lo-co opened #116 "Handle NaNs better"
Right now, when a value comes back NaN, the value is replaced with an empty string.  This creates all kinds of nonsense that produces an invalid json string.  This has become an issue with the temperatures for the PAS.  I will likely fix this so that the thermistor equations produce something that can be recognized as wrong.  **But, what is that value??!!**

[2016-06-04 16:46] lo-co commented on #115
Can you all let me know ASAP what is going on with your tests?  This is an easy fix, but I need to know the proper valve states.

[2016-06-04 16:49] lo-co commented on #114
Added button on `Configuration` page.

[2016-06-06 05:46] lo-co commented on #114
In the `Controller::Handle Filter Automation` method, I have added logic that says

[code]

Now need to add this exact same code to the `Change Filter State` message.

[2016-06-06 05:48] lo-co commented on #114
Added code to the message `Change Filter State`.  The value in the CVT is found under the group `pas` and is called `filter_cycle`.  This value has a corresponding INI entry called `connect_filter` under the `PAS` section.

Now need to add web service for toggling this

[2016-06-06 05:58] lo-co commented on #114
Added read entry to `Controller::Initialize CVT`.  As part of this, I also added the VI `Controller::Init PAS CVT` to begin to clean things up.

[2016-06-06 06:06] lo-co commented on #114
Added web service `PAS/SpkFilterConnect` with the input `conn`.  This value is 0 or not zero, with 0 being FALSE and not 0 TRUE.  Next step is testing this.

[2016-06-06 13:45] JustinLangridge opened #117 "DIO for laser enable signals"
We have now got the lasers configured to work with a  5V laser enable signal, but the laser enable signals are coming out of the wrong cards. Please could they be changed to the following to match up with the hardware:

CRD Red laser output: 6225(2), P1.5
CRD blue laser 0: 6225(2), P1.6
CRD blue laser 1: 6225(2), P1.7

The PAS laser enables for cells 0-4 should run on the 7842R (1) on DIO5-9.

[2016-06-06 13:46] JustinLangridge commented on #91
This can be closed - see more recent issue openend on 6/6/16

[2016-06-06 13:46] #91 closed, assigned to lo-co

[2016-06-06 15:34] lo-co commented on #117
Sent an email on this regarding switch states.  I think that Dave or Stuart should have no problem updating this.  Remember to do the following:
- Export the current MAX config file and place the .nce file either in support or the main directory (currently resides in main directory bu this is a bad place to be).
- Check the current one into the repo and reference this issue.
- Update the MAX confi

[2016-06-07 05:03] lo-co commented on #117
Something about this isn't right.  The signals in MAX are properly routed.  From the manual:
- Ctr 0 Out is PFI 12 or pin 2; this is P2.4
- Ctr 1 Out is PFI 13 or pin 40; this P2.5

Two points that are important that I outlined a long time ago:
1. The signals must come from the counters defined above.  They require this because of gating and some signal connections that are made across the backpla

[2016-06-07 05:04] lo-co commented on #101
Wasn't the issue.  This will need further testing that can be done by UK Met.

[2016-06-07 05:04] #101 closed, assigned to lo-co

[2016-06-07 05:41] #77 closed, assigned to lo-co

[2016-06-07 05:45] lo-co commented on #85
This is a configuration issue.  If the user does not have a drive and they intend to write to one, this will always fail....

[2016-06-07 05:45] #85 closed, assigned to lo-co

[2016-06-07 05:46] #54 closed, assigned to lo-co

[2016-06-07 05:46] lo-co commented on #54
Don't know what this was about...

[2016-06-08 05:26] lo-co commented on #117
I realize that this looks like that this only is related to a simple output, but I route these timers so that we gate the signals appropriately for the AI and don't have to take 2.5-4 MS/s/ch.  This would be a killer, even on the machine that you all have.

[2016-06-08 10:10] JustinLangridge opened #118 "Speaker enable signals"
These still aren't working. Referring back to email a email I sent on 6 May 2016, the problem appears to be the following:

Speaker enable is coming out of the 7842R card on DIO 10 of connector 0. Hardware needs is to come out of DIO10 on connector 1.

Similarly iSpk is coming out of DIO 0-4 on connector 0 but needs to be coming out of DIO 0-4 on connector 1.

Could this be changed o the FPGA? Ide

[2016-06-08 10:21] JustinLangridge commented on #96
Is this still resonant+ 2 adjacent or is it now just the resonant?

[2016-06-08 11:48] JustinLangridge commented on #42
What testing is needed for this?

[2016-06-08 11:53] JustinLangridge commented on #31
Mutliple other issues already looking at this already - close this one?

[2016-06-08 11:54] JustinLangridge commented on #11
We have another issue ongoing with this in the UI respoitory. Closing this one...

[2016-06-08 11:54] #11 closed, assigned to lo-co

[2016-06-08 17:19] lo-co commented on #117
OK.  Forget everything that I have said above.  This is the enable, not the DIO for the actual laser driving.  Will fix this.

[2016-06-08 17:28] #117 closed, assigned to datid

[2016-06-09 04:12] JustinLangridge commented on #118
This was changed the last time you requested this.  Have you double checked the signals on the cable itself?  I will rebuild this (again), but it has not changed since the last time I built (see image below).  Isn't this what you requested?

![fpga_io](https://cloud.githubusercontent.com/assets/13215746/15918632/b04d2ab2-2e00-11e6-9b29-c09f5bdf79de.png)

[2016-06-09 04:25] lo-co commented on #118
This was changed the last time you all requested this (the build was dated May 16th.  Isn't this what you were looking for?  Have you double-checked to see what is coming out of the cable itself?  I am rebuilding (again).

![fpga_io](https://cloud.githubusercontent.com/assets/9597736/15918783/89a9cd3c-2e02-11e6-9366-d5dfa462039b.png)

[2016-06-09 04:26] lo-co commented on #118
Set the build as default...

[2016-06-09 04:29] lo-co commented on #96
No.  It is now at the resonant frequency only.  This is an issue that Nick discovered and eliminating the other frequencies eliminates a lot of noise and helps up get down to lower LODs.  As the tag states, this is ready for testing.

[2016-06-09 05:24] lo-co opened #119 "Do not read valve state returns"
Set CVT values to be based on the current command rather than the valve state return.  Something is wrong with this and we need to remove the returns from the states.

[2016-06-09 05:26] lo-co commented on #119
This is related to #115.

[2016-06-09 05:45] lo-co opened #120 "Fix thermistor outputs"
This needs to be done in code and in max.  Duplicates need to be removed from list and we need to make sure that we are scaling the ones coming back properly.

From Rob's email:
- PAS0 goes to AI19 (Pin65)
- PAS1 goes to AI21 (Pin29)
- PAS2 goes to AI23 (Pin27)
- PAS3 goes to AI33 (Pin59)
- PAS4 goes to AI35 (Pin23)

These are accessed on the server under `ePAS::Get Data` and will touch the data o

[2016-06-09 09:33] JustinLangridge commented on #115
Right Matt, here is the logic for the three pairs of Hanbays:

Format: 'name of position', valve 1 drive value, valve 2 drive value

**Denuder**: denuder 1 - 5V, denuder 2 - 0V
**Denuder bypass:** denuder 1 - 0V , denuder 2 - 5V

**Filtering:** filter 1 - 5V, filter 2 - 5V (not a typo they should both be 5V)
**Sampling:** filter 1 - 0V , filter 2 - 0V

**Cabin inlet:** cabin 1 - 0V , cabin 2 - 0V

[2016-06-09 12:31] JustinLangridge commented on #118
Had to interrupt the FPGA build earlier today - still hadn't finished 6 hours in. Will redo hardware tests to check we don;t have cabling issue.

[2016-06-09 12:49] JustinLangridge commented on #118
ok am getting out a signal on DIO 10 for the speaker enable that cycles with the speaker button on the UI. It is 3.2V though not 5V - could be part of the issue?

iSpk outputs are fixed at 3.2V (and don't cycle with the UI speaker button)

[2016-06-09 15:14] lo-co commented on #118
OK - they iSpk shouldn't cycle with the speaker button.

3.2 V is TTL.  I wouldn't think that is the problem, but input needs 5 V we will have to swap to an AO.  This sounds like a question for Rob.

[2016-06-09 15:59] JustinLangridge commented on #118
Ok we have a routing issue through the main electroics box. Another thing for us when we pull the box out (likely Monday morning)

[2016-06-09 16:13] lo-co commented on #118
I believe you mean funkeeeeee!!!!!!!!

[2016-06-10 09:02] JustinLangridge commented on #97
Temperatures are coming back as 300 odd degrees so seems like a problem (note that only cells 4 and 5 are currently connected)

[2016-06-10 09:29] JustinLangridge commented on #96
ok that's good -will test when I can work the speakers and measure the cell Qs properly

[2016-06-10 09:35] JustinLangridge commented on #90
This my be linked to the logic for the filter/denuder/inlet valves not being set yet, but it does appear that the filter and other valve UI buttons have issues.

When the filter cycle is not on auto and you hit the filter button it often goes inti a state of turning itself on and off repeatedly, or it doesn;t respond at all.

I can;t get the inlet valve UI button to switch on at all

[2016-06-10 09:37] JustinLangridge commented on #80
What is the control in the UI that I can use to test this?

[2016-06-10 14:38] JustinLangridge opened #121 "TAP MFC comms"
Communications on TAP MFC periodically drop out (you can notice this when you look at the table of returned values on the flow control UI tab).

Note his behavior comes and goes  - most of the time it reads back data ok (but all of the other MFCs work all of the time)

[2016-06-13 22:33] lo-co commented on #90
Justin, please be careful about removing the READY FOR TESTING label; I put it there for me to test (or someone with the backend knowledge to determine if the thing is doing what it is supposed to be doing in software).  Sometimes the problem is a hardware problem and not applicable to what is going on here.

I realize the filter button is flashing but I think this actually attributable to somethi

[2016-06-13 22:37] lo-co commented on #90
Added `Wrapper` for testing. Set execution to non-reentrant.

[2016-06-13 22:40] lo-co commented on #90
Filter feedback is not coming back properly.  The filter position is set by a `not` so when there is no feedback, the system will not work properly (always sends `TRUE` because it is always `FALSE`).

[2016-06-13 23:02] lo-co commented on #90
From my standpoint, this is now fixed.  The sequence goes like this:
1. User presses button
2. Flips the logic behind the scenes and sends an http request to the server to change the state.  The new state sent will be the opposite of what the current value is.  So, if the current value is `TRUE`, the new value will be `FALSE`
3. The http request sends the message to the `Controller` with the new f

[2016-06-13 23:38] lo-co opened #122 "PAS Laser Enable on Wrong Connector"
PAS laser enables are on Connector0 and should be on Connector1.  This was incorrectly labeled a UI issue. Opening up a new one here.

Have begun recompilation with new DIO.  Hopefully this one won't take 115 h.

[2016-06-13 23:39] lo-co commented on #121
If this is just on the TAP then this is a hardware issue.  None of the code is different for any of the MFCs.  Closing this as `invalid` as this relates to hardware.  Check your wiring.

[2016-06-13 23:39] #121 closed, assigned to nobody

[2016-06-14 03:05] lo-co commented on #122
Recompiled the bitfile with new outputs (connector1 instead of connector0).  Try it now.

**Note:** FPGA is not compiling on local computer.  Had to compile this on my computer.

[2016-06-14 04:36] lo-co commented on #120
Soooo....adjusted the class `ePAS Cell Data` itself so that the property `T` is a single number (was an array before).  We need to test this and as such I need you guys to take a look at the values coming
1. out of the DAQmx housekeeping task
2. out of the thermistor conversion method.

All of this can be found in the method `ePAS::Get Data`.  The thing that I am not sure about here is the arrange

[2016-06-14 05:06] lo-co commented on #120
Temperatures are coming back, but, unless you are fire, these are likely wrong.

[2016-06-14 08:19] JustinLangridge commented on #90
Hi Matt,

Here is the valve logic for all of the Hanbays (changing position requiring two values to be set each time). This issue is now identical to #115 and so knocking it off should give value.

Format: 'name of position', valve 1 value, valve 2 value

**Denuder:** denuder 1 - 5V, denuder 2 - 0V
**Denuder bypass:** denuder 1 - 0V , denuder 2 - 5V

**Filtering:** filter 1 - 5V, filter 2 - 5V (no

[2016-06-14 10:37] JustinLangridge commented on #122
This is now working - thanks.  Some issues with polarity on UI controls for CRDS and PAs laser enables have been raised on the UI repo.

[2016-06-14 10:37] #122 closed, assigned to lo-co

[2016-06-14 10:39] JustinLangridge commented on #97
Ths is now beng addressed in #120 so closing here

[2016-06-14 10:39] #97 closed, assigned to lo-co

[2016-06-14 10:41] JustinLangridge commented on #31
Done

[2016-06-14 10:41] #31 closed, assigned to lo-co

[2016-06-14 11:25] JustinLangridge opened #123 "PAS laser modulation"
Offset and Vp-p are not being set right via the UI laser control setting. This is causing lasers to error

For example when set to 100% we should get Vp-p = 5V, Vmin= 0V on the analog modulation
We actually get: , Vmin= 4.9V, Vmin = 2.5V (this gives Vmax = 7.9V which is above the 5V limit for the lasers)

When we drop this to 20% power:

We should get Vp-p = 1V, Voffset = 0V
We get: Vp-p = 1.4V, V

[2016-06-15 12:34] JustinLangridge commented on #115
Have tested this today. Almost there but remaining issues::

Filter control button: works fine with correct logic

Denuder control: both denuder 1 and 2 get 5V currently when button is pushed. We need the logic to be that shown above

Cabin control button: UI button does't do anything currently (and immediately turns itself off when you push it). Have verified that correct voltages come out when r

[2016-06-16 15:53] JustinLangridge commented on #120
Dave has updated the Steinhart coefficients in the code, the ref voltage and the top/bottom option.

Temperature look good for those thermistors plugged in

Repository needs updating with these changes, but then good to close this issue

[2016-06-16 16:01] JustinLangridge commented on #118
As a test we've changed the code such that the UI speaker button now changes both the ispk and speaker enable signals. This makes things compatible with the hardware which is configured to use the ispk signals to turn the speakers on and off.

There may be other places in the code that this needs to be changed so that the speaker cycling operates correctly?

Note that despite these changes the spe

[2016-06-16 16:13] JustinLangridge commented on #7
Update upon testing these today:

All work apart from:

3 x laser on LED - which UI controls are actually driving these to turn on?

Inlet sampling - not currently working but may be as the inlet filter UI control is also currently not working

Error - can't test this until the system is fully running

[2016-06-17 05:58] lo-co opened #124 "CRD initialization not accounting for INI file"
This is a hot mess and needs to be consistent with PAS.  Basically, we update the CVT in the `Controller` and then in the launch of the `Instrument` actor, we push those values into the respective instrument using `Command` object.  We are not doing this for the CRD.

[2016-06-17 23:28] lo-co commented on #124
Added two commands:
- `Change PMT Gains CMD`
- `Change Laser Gains CMD`

These along with the command to change the enable are now fired in `eCRD::Configure`.

[2016-06-17 23:35] lo-co commented on #124
Still need to add in the laser initialization stuff properly.  Push this into where we set up the IO for the different lasers.

[2016-06-20 22:18] lo-co commented on #124
Noted an initialization problem that was logged with the UI.  Red laser was initialized for 1 kHz but coming out at 1.3 kHz?  Don't know what the problem is here...

[2016-06-20 22:22] lo-co commented on #118
Can you give me an update on this?

[2016-06-20 22:25] lo-co commented on #7
When you all test the inlet LED, I think we should go ahead and close this.  I think we need to provide some input as to what the Error LED should respond to; I don't think we want the LED to light up every time there is an error as the LED would be lit a lot.  Maybe we need an INI entry that says trigger LED on certain events?

[2016-06-20 22:44] lo-co commented on #115
### Denuder

This should be fixed now.  The logic in the previous setting was when the button was set to `TRUE`, the logic provided for the DIO was `[T,T]`.  No will be `[T,F]` as described above.

### Cabin

So, the problem is not on the UI side (thankfully).  Command is being sent, the logic is just doing nothing as when the button _was_ set it set the output on the DIO lines to `[T,F]`; now it

[2016-06-20 23:14] lo-co opened #125 "Invert DIO for laser enable signals"
Laser enable signals should be pulled low for running lasers - 0 V = enabled and 5 V = disabled.

This issue was originally raised in lo-co/exscalabar#87.

[2016-06-20 23:30] lo-co commented on #125
Changed PAS enable signal in `Change Laser Enable State::Handle Command` in `ePAS Library` so that the logic sent to the FPGA is inverted.  Logic associated with the CVT and the message is the same.

Cleaned up the message in `Set Las Enable MSG::Do` so that the CVT is updated when the command is successful.  Removed the CVT update from the `ePAS` command handler.

[2016-06-20 23:32] lo-co commented on #125
Have now fixed the inversion on both the CRDS and the PAS signals.  This part is ready for testing.   Not sure if the CRD routing portion is fixed, but have opened a new issue associated with this in #126.

[2016-06-20 23:33] lo-co opened #126 "CRD laser enable signals reversed."
CRD red and blue laser controls need reversing. Currently the red crd laser control switches power on the two blue crd lasers and the blue crd laser ui control switches power on the red laser.

This issue was originally raised in lo-co/exscalabar#87.

[2016-06-20 23:35] lo-co commented on #126
Ok...so not exactly sure what is happening here.   This might have been partly fixed when working with lo-co/exscalabar#88.  **Can you guys check this??** I know that I was not updating all of these values.  So, it may turn out that I haven't quite got the right routing, but all should respond now.

[2016-06-21 15:04] JustinLangridge commented on #118
With the above change such that we now link the ispk outputs to the UI speaker button we can get the speakers on and functioning.

We played with setting the speaker voltage settings to get a reasonable level that does not saturate the mics. This was ok but a bit of an exercise in random guessing - what are these two controls actually setting in terms of the waveform and what are their bounds?

We

[2016-06-21 15:10] JustinLangridge commented on #115
Matt, we've had the main electronics box out today. Rob has fixed issues with the CRD pulse signal not getting through and reversed polarity on a set of PMT gain outputs. We'll have it back in tomorrow and will test the valve states fix then

[2016-06-21 19:06] lo-co commented on #119
We are no longer reading returns.  Closing this as there are other tickets associated with valve state.

[2016-06-21 19:06] #119 closed, assigned to lo-co

[2016-06-21 19:07] lo-co commented on #99
This is what a bad log looks like (400+ messages that look like this):
![vaisala error log](https://cloud.githubusercontent.com/assets/9597736/16242731/c51610ae-37eb-11e6-8b69-9ac3e466991d.png)

[2016-06-21 19:09] lo-co opened #127 "Attempt to read device repeatedly fails"
Vaisala is very apparently not there yet somehow made it out of configuration.  Need to fix this such that
1. If device dies, it will be removed after a certain number of tries, or the user has the opportunity to remove it
2. Device does not get past configuration if it does not respond to initial read commands,

![image](https://cloud.githubusercontent.com/assets/9597736/16242742/d5a745e6-37eb-11

[2016-06-21 20:42] #120 closed, assigned to lo-co, datid

[2016-06-21 20:51] lo-co commented on #127
Likely the only way to handle `1` is to have a device failure count.  This would be a count maintained by the class (a DVR) that would increment a count every time an attempt to communicate with the device failed.  If successful communication resumes, the count would be reset.  If the count reaches a maximum number, output a log message and either
1. remove the device instance from the global list

[2016-06-21 21:31] lo-co commented on #123
This code is from the PAS laser controller on the user interface.  `cvt.pas.las.setVo(y)` updates the offset whereas `cvt.pas.las.setVr(x)` updates the range.  The code below is corrected; in the uncorrected version, both the offset and the range were set to `x`.  This means that when you set the value to 100, you should expect the offset to be 5 and the range to be 5 thus producing a range that g

[2016-06-21 22:16] lo-co commented on #123
This looks like it should work now... Please check this.

[2016-06-22 14:48] JustinLangridge commented on #127
These seem to working ok today

[2016-06-22 14:57] JustinLangridge commented on #126
These three controls currently working but are jumbled up in terms of controlling the wrong lasers. Please could we change to the following:

**Blue laser 0 control**
- Rename control to 'Blue lower'
- this should control signal on P1.6

**Blue laser 1 control**
- rename to 'Blue upper'
- this should control signal on P1.7

**Red laser control**
- this should control signal on P1.5

Not quite the

[2016-06-22 15:47] JustinLangridge commented on #115
Looks good now for all three valve pairs now, thanks

[2016-06-22 15:54] #115 closed, assigned to nobody

[2016-06-22 15:58] JustinLangridge commented on #90
Tested and functioning properly

[2016-06-22 15:58] #90 closed, assigned to lo-co

[2016-06-22 15:59] JustinLangridge commented on #111
TE cooler is  now powering on and we get back data but can not set the setpoint from the UI controls

[2016-06-22 17:40] lo-co commented on #111
This is the TE Technology cooler right?

If this is functioning (on the server side) as expected, we will go ahead and close this.  Raise a UI issue (if there is not one) for the setpoint.

There is a UI element for this, I will take a look and see what is going on with this.

[2016-06-22 17:40] #111 closed, assigned to datid

[2016-06-22 18:27] JustinLangridge commented on #111
We're getting temperatures back into the plot in the UI when all is powered up. Does this then suggest that the server side is working?

[2016-06-22 18:40] JustinLangridge commented on #82
Can this one be closed now?

[2016-06-22 18:41] JustinLangridge commented on #68
Where are these files saved Matt and what is the data format?

[2016-06-23 05:15] lo-co commented on #111
Server side is working.  Yes.

Regarding the UI side, have you tried setting the setpoint via the UI controls on the `Housekeeping` page?

[2016-06-23 05:53] lo-co commented on #82
Was good with a previous check-in.

[2016-06-23 05:53] #82 closed, assigned to lo-co

[2016-06-23 09:36] JustinLangridge commented on #111
Have tried setting set points on the UI and they don't do anything.

The setpoint initializes to 18 degrees but this probably doesn't have effect either as the TEC i controlling to 15 degrees.

We get data back in the UI though.

[2016-06-23 10:08] JustinLangridge commented on #123
This is behaving in a pretty screwed up way currently. No matter what setpoint the user puts in the control seems to default back to other settings after a fraction of a second (seems like a similar issue to with the purge valve control)

Thus can't test the voltage outputs properly currently, but something doesn't look right. The default output is giving a clipped sine wave

[2016-06-23 10:15] JustinLangridge commented on #123
Scrap last comment. This is all working fine now. Closing.

[2016-06-23 10:15] #123 closed, assigned to lo-co

[2016-06-24 05:41] lo-co opened #128 "Periodic bad data coming back"
Get the following error:

Where the number indicates where the error in the JSON appeared.  I think this may be to periodic NaNs in some of the data (MFCs, possibly).  But, why is this happening?

[2016-06-24 05:45] lo-co commented on #128
When the JSON strings are produced in the `Data` webservice VI, I have placed a search and replace all `NaN` with `0`.

[2016-06-24 05:56] #128 closed, assigned to lo-co

[2016-06-27 15:29] JustinLangridge commented on #7
Tested again today. Some work needed:

**3 x laser LEDS** these are still not working at all. Can they please be linked to the laser enable signals such that if any of the lasers of a given wavelength are on (i.e. laser enable of 0V) the appropriate laser LED (405, 515 or 660nm) lights up?

**Error LED** - I am happy to come back to this at another time as it's not a high priority now.

Denuder LE

[2016-06-27 15:37] JustinLangridge opened #129 "Denuder switch logic needs changing"
The labelling on the denuder valve UI control is not consistent with that on the LED display board which is confusing.

Please can we make the following changes to address this:

1) Change name of UI control from `Denuder` to `Denduer bypass`

2) Reverse logic on this control such that when `Denuder bypass` is enabled it send the voltages that are currently sent when the control is disabled (and v

[2016-06-27 15:38] JustinLangridge commented on #78
Completed. New issue raised to bring switch functionality in line with LED display

[2016-06-27 15:38] #78 closed, assigned to lo-co

[2016-06-27 15:38] JustinLangridge commented on #80
Ozone LED is now working. Closing.

[2016-06-27 15:38] #80 closed, assigned to lo-co

[2016-06-27 15:42] JustinLangridge commented on #125
Almost working fix needed is now described in #126. Closing.

[2016-06-27 15:42] #125 closed, assigned to lo-co

[2016-06-27 15:44] JustinLangridge commented on #109
Think this is now sorted. Remaining issues with water chiller seems to be associated with the html commands not coming out of the UI correctly. Will raise these as separate issue and thus closing this one.

[2016-06-27 15:44] #109 closed, assigned to lo-co, datid

[2016-06-28 05:44] lo-co commented on #7
Added to `Controller::Common` a read of the CVT for the inputs `pas.las.enabled` and `crd.enable`.  Here is how the logic works:
- 515 LED - If Cell 3 of the PAS is enabled, then this LED will be lit
- 405 LED - If Cell 1 or Cell 4 of the PAS or Blue 0 or Blue 1 of the CRD are enabled, then this LED will be lit
- 640 LED - If Cell 2 or Cell 5 of PAS or the Red Laser of the CRD are enabled, then th

[2016-06-28 06:00] lo-co commented on #7
Logic appears to work.  Please test...

[2016-06-28 06:09] lo-co commented on #129
(1) is client side - this is done.

(2) Not sure if I am totally following this, but I am reversing the voltages on the server side **that are sent to the valve, but not what we store in the CVT.**  This means that when the user presses the button, we will send a true to the server and the value sent to the valve will now be `[false, true]` rather than the current `[true, false]`.  Is this incorre

[2016-06-28 06:21] lo-co commented on #126
In MAX, these signals look good.

In web service, bug where `Blue Upper` was pumped into `Red` so `Red` was overwritten and `Blue Upper` remained empty.  `Blue Lower` was good.

Looked good in command and in message.  This should be ready for testing...

[2016-06-29 10:14] JustinLangridge commented on #7
Tested - all of the new logic described above works - thanks.

Only remaining issue is that lasers are only responding to the state of the laser enable signals (and thus it can appear e.g. that the lasers are on even when their power supply is turned off).

Can we add the following extra conditions for the LEDs to light up

1) laser power supply must be enabled
2) interlock return signal (in gener

[2016-06-29 10:17] JustinLangridge commented on #126
Tested and working as expected - thanks. Closing this one.

[2016-06-29 10:17] #126 closed, assigned to lo-co

[2016-06-30 05:13] lo-co opened #130 "Meerstetter amperage missing from data returned"
Data returned from Meerstetter includes `Vout`, `Tobj` and `Tsink`.  We can also retrieve `Iout` which might be more useful.  Add this.

[2016-06-30 13:07] JustinLangridge commented on #118
Speaker enables are now working. Time and frequency domain speaker signals are not great though - will open separate issues for these. Closing

[2016-06-30 13:07] #118 closed, assigned to lo-co, JustinLangridge

[2016-06-30 16:03] JustinLangridge opened #131 "PAS cell 4 microphone signal AI problem"
There looks to be an issue with digitization of the microphone signal for PAS cell 4 (currently labelled cell 5 in UI waveform plot).

Look at the time domain signal with the speaker on and you see a big offset. This shouldn't be there. We've tried digitizing input from other cells into this channel on the FPGA card and they show the same offset. Any thoughts?

[2016-06-30 16:17] JustinLangridge commented on #130
A lot of testing with meerstetters today.

In addition to Vout, Tobj, Iout, please could you also add the TEC baseplate temperature.

It would be very useful for us to be able to monitor this as it gives a marker for when we are driving the TECs too hard and thus about to knock out the meerstetters (this happens at a baseplate temp of 60 degrees)

[2016-07-01 13:04] JustinLangridge commented on #124
Matt,  note this isn't restricted to the CRDS. For example the PAS is not initializing with all lasers enabled (as specified n the ini file) and the speaker voltages don't initialize to the correct values either. Seems we have a generic issue with the initialization?

[2016-07-03 19:29] JustinLangridge commented on #93
Note this is linked to issue #100 in server repo

[2016-07-03 19:51] JustinLangridge opened #132 "PAS not initialising from .ini file correctly"
Several signals do not initialise as per the .ini file. Examples are the PAS laser enable signals, speaker voltage values, maybe others(?)

[2016-07-03 20:02] JustinLangridge commented on #131
Matt could it be that the coupling for the input on this channel is set to DC instead of AC coupling?

[2016-07-04 10:03] JustinLangridge commented on #131
Looked at this from the hardware perspective today and don't think this is a hardware issue. PAS cell top boards that show no offset when digitised on other channels, have a DC offset when put through this AI channel.

[2016-07-04 10:56] JustinLangridge commented on #129
All looks good with logic for both valve position and indicator LEDs. Closing

[2016-07-04 10:56] #129 closed, assigned to nobody

[2016-07-04 11:22] JustinLangridge commented on #116
Matt, can this one be closed now?

[2016-07-04 16:18] JustinLangridge commented on #112
This issue is now more generally covered by problems with initialization (ref #132, #124). Closing here.

[2016-07-04 16:18] #112 closed, assigned to datid

[2016-07-04 16:20] JustinLangridge commented on #88
Ok so main drive is c: and first jump drive is u:. Will check tomorrow if mirrored data file is being written to u-drive

[2016-07-05 07:50] JustinLangridge opened #133 "O3 Lamp Ctr task"
Have started looking at the O3 lamp power control task in MAX. Some questions:
- Signal is coming out of PFI12 where as we were expecting PFI8 of the 6225(1) card. Since you want the counter output I guess this can not be changed to PFI8?
- The task is set up to fire out a single pulse. Where is the pulse firing and setup controlled from in the labview code?

[2016-07-05 09:42] JustinLangridge commented on #114
Tested this today. Issues are:
- the `connect filter cycle` button doesn't appear to do anything. It can't be activated via the UI
- the filter control on the configuration page similarly doesn't do anything. Setting both per and len has no impact on the filter valves.

More generally can all of these controls be moved together. It would be good to have the filter cycling controls on the right han

[2016-07-05 14:16] datid commented on #131
It was hardware / wiring / connector not in correctly - close this

[2016-07-05 14:16] #131 closed, assigned to nobody

[2016-07-05 23:49] lo-co commented on #132
This is a mixture of a couple of problems.
- The client is not getting an updated CVT at power up.
- The server is not actually updating.

Confounding this is a mish-mash of approaches down on the server.  The idea behind the `Instrument` class is that it _can_ be operated sans the Actor Framework if desired.  Hence, there is some decoupling.  The `Actor` contains the CVT reference and while confi

[2016-07-05 23:50] lo-co commented on #132
As far as the enables go, we were sending the wrong message to the `Instrument` object.

[2016-07-05 23:57] lo-co commented on #132
Also looks like there were others that were not using the right command objects...

[2016-07-06 05:24] lo-co commented on #132
Speaker `Vparams` now updating properly.

[2016-07-06 06:04] lo-co commented on #132
Both of these above are updating as expected.

[2016-07-06 13:19] JustinLangridge commented on #132
Matt, that is good. Do you need us to provide a full list of which PAS/CRDS controls are not initiating properly or are you able to work this independently?

[2016-07-06 17:52] lo-co commented on #132
If you have them, they need to be their own issues - maybe grouped according to instrument or device.  Did we fix these problems?  Can we close this?

[2016-07-06 17:56] lo-co opened #134 "Not writing to files"
Have an issue in which files are not being written to.  This has to do with how devices are initialized and  registered as emitters of data.  Something is passing initialization but then not getting data.  Ever.  This is likely related to issue #127.

[2016-07-06 18:53] lo-co commented on #134
Files are now writing.  Changed `Controller::Handle Last Ack Core` to remove emitter references that are no longer valid.  Need to clean up the code in there.

New problem, but closing this one for now.

[2016-07-06 18:55] #132 closed, assigned to lo-co

[2016-07-06 18:55] #134 closed, assigned to lo-co

[2016-07-06 18:57] lo-co opened #135 "No header for component in PAS cells"
There is a missing header element for some of the PAS Cell Data.  Looking into this right now.

[2016-07-06 18:59] lo-co commented on #135
Looks like this is a temperature associated with the PAS cell.

[2016-07-06 19:05] lo-co commented on #135
Added method `ePAS Cell Data::Generate Unique Header` which calls the Parent method.  Added new column entry called `{Cell ID}.Temperature` where `{Cell ID}` is the unique cell identification defined in the configuration.

[2016-07-06 19:26] #135 closed, assigned to lo-co

[2016-07-06 19:27] lo-co opened #136 "No header written to mirror file"
There is no header in the mirror file.  I suspect this has something to do with the flag that is used to indicate whether a header has been written.

[2016-07-06 19:30] lo-co commented on #136
Write execution method is non-reentrant.  Changing this will likely fix the problem.

[2016-07-06 19:45] lo-co commented on #136
OK...making this reentrant did not do the trick.

[2016-07-06 20:31] lo-co commented on #88
We are writing to both the main and mirror now.  Mirror has no header as outlined in #136.  I am going to close this one.

[2016-07-06 20:31] #88 closed, assigned to lo-co

[2016-07-06 20:37] lo-co commented on #93
Not following the comment above.  This has to do with the fact that if the _user_ wants to adjust the laser frequency rather than just adjusting to the speaker calibration, then they can do just that.  However, the _analysis_ (i.e. `IA` retrieval) will be based on the frequency returned by the speaker calibration.  **THIS IS A FUTURE ISSUE.**

[2016-07-06 20:40] lo-co commented on #133
Isn't this a PWM signal?  If so, it needs to be a counter or we will have issues generating this signal.

Pulse?  I am not following.

[2016-07-06 20:55] JustinLangridge commented on #93
Hi Matt, note the reference to #100 is #100 in the UI repo not the server repo.

The basic issue is that if the user changes the laser frequency using these controls, while the laser does change to this frequency, it is then not possible to return to a mode whereby you are using the speaker to determine the frequency (cycling the speaker on and off doesn't change the measures laser output frequenc

[2016-07-06 22:35] lo-co commented on #114
Fixed

Fixed

Done

This just seems cluttered to me.   I left the filter valve control itself on the side panel but the cycling controls on this panel seem like a bad idea.  These are controls which you will rarely adjust (if you are adjusting these regularly than we have an operational issue).  I will leave these where they are _for now_.  Let's raise another issue later if you absolutely need th

[2016-07-06 22:40] lo-co commented on #114
Here is what the filter and speaker cycling together look like in the speaker domain:
![connected_cycles](https://cloud.githubusercontent.com/assets/9597736/16636910/127934d2-43d3-11e6-9181-a78d8ea9576c.png)

[2016-07-06 23:05] #114 closed, assigned to lo-co

[2016-07-06 23:05] lo-co commented on #114
If you feel the UI changes are necessary, please submit a ticket on the UI side...

[2016-07-06 23:07] lo-co commented on #93
Ya...I am going to leave it for the future as that it is something that until this year we have not noticed.  It needs to change (and will) but we will spec for later.

[2016-07-07 08:36] JustinLangridge commented on #93
That is fine Matt. Just to confirm though, can we still look at #100 on the UI repo as this could cause us problems

[2016-07-07 08:51] JustinLangridge commented on #133
This output doesn't need to be PWM. I'll detail below exactly what we need to fire out to the ozone lamp - if you can make this come out of PFI8 (be it as a counter output or bog standard DO) that would be excellent.

Basically the ozone lamp drive electronics are configured to accept pulses. All that matters is the frequency of the pulses - the pulse width is irrelevant. Thus if we fire out 5 pul

[2016-07-07 15:06] lo-co commented on #93
lol.  you mean lo-co/exscalabar#100?

[2016-07-07 15:15] lo-co opened #137 "Resonant frequency not updating after calibration"
Resonant frequency is not updating after the speaker shuts off.  This is just a dup of lo-co/exscalabar#100.

[2016-07-07 16:07] lo-co opened #138 "FPGA Session not properly released"
Appears that we grab a reference to the session in multiple places (`Controller::Launch Instruments` and `ePAS::Configure`.  This causes the FPGA session to not launch properly if we start multiple times.  This may also be the problem with the juggling cells in the PAS as we start and then _may_ be several seconds behind.

I am going to remove this from the `Controller`.

[2016-07-07 17:10] #137 closed, assigned to lo-co

[2016-07-07 17:10] #138 closed, assigned to lo-co

[2016-07-07 17:11] lo-co commented on #133
A few kHz is tight for this.  If you run on a non-counter output, the problem is that you rely on the system to keep up at whatever rate for your bit flipping.  With a counter output, we can setup pulse trains that don't rely on the CPU.  We can also do this with the FPGA.

[2016-07-08 08:50] JustinLangridge commented on #114
OK this works with the harware too - thanks.

The spikes you see in the IA plot above when you turn the speaker off are erroneous - presumably because we start to integrate and plot the IA before the speaker is fully off. Is it an easy fix to put in a 1s delay after speaker switch off to stop these spikes appearing? We can chop these periods during data analysis, but the driver for doing it online

[2016-07-08 14:59] lo-co commented on #114
Raise that as a new issue.

[2016-07-08 16:05] JustinLangridge opened #139 "Initialisation issues"
We already have #124 open regarding issues with initisalisation of the CRDS.

Here is a list of other variables that are not initialising correctly from the UI:
- **PAS laser enables:** all shoudl come on True. INreality all come on False except cell 1.
- **Speaker enable:** should come on True. Actually comes on False
- **power supplies:** ozone and pump power suppies not following ini file.

[2016-07-08 16:07] JustinLangridge opened #140 "Unwanted spikes in IA when so helpfulamiright"
The spikes you see in the IA plot above when you turn the speaker off are erroneous - presumably because we start to integrate and plot the IA before the speaker is fully off. Is it an easy fix to put in a 1s delay after speaker switch off to stop these spikes appearing? We can chop these periods during data analysis, but the driver for doing it online is that when we're ambient sampling these spi

[2016-07-11 04:35] lo-co opened #141 "PAS Laser Initialization Issue"
PAS laser enables: all shoudl come on True. All come on False except cell 1.

[2016-07-11 04:35] lo-co opened #142 "PAS Speaker Initialization"
Speaker enable: should come on True. Actually comes on False

[2016-07-11 04:36] lo-co opened #143 "Power initialization"
Ozone and pump power supplies not following ini file.

[2016-07-11 04:37] lo-co commented on #139
This is broken out into issus #141, #142, and #143.

[2016-07-11 04:37] #139 closed, assigned to nobody

[2016-07-11 04:45] lo-co commented on #142
Works for me.  Nothing to check in.  LED lights up, speakers signals look good.  Make sure that you are on the page and looking at it at startup.  The system is set to auto-cylce.

[2016-07-11 04:45] #142 closed, assigned to lo-co

[2016-07-11 04:53] lo-co commented on #141
This is a formatting issue.  Unfortunately, the code is not currently smart enough to recognize when you contain whitespace in the arrays in the INI file.  For now, **always make sure there are no spaces in the INI entry if it is csv.**  I fixed this in the current configuration file for this entry.

[2016-07-11 04:53] #141 closed, assigned to lo-co

[2016-07-11 05:13] lo-co commented on #143
This was not an initialization issue.  This was a UI issue.  Array containing all of the power data was in the wrong order.

[2016-07-11 13:29] JustinLangridge commented on #143
Matt, the power controls in the UI are now jumbled after this fix. For example, `pump`is controlling the o3 lamp, `ozone gen` is controlling the denuder, `tec`is controlling the sample pump

[2016-07-11 13:37] JustinLangridge commented on #133
Think we are going to be stuck with using output on PFI12 Matt as the hardware switch of the channels is not going to be possible. We can test the setup once code is in there

[2016-07-11 22:08] lo-co commented on #133
We will do the best we can.  I can't guarantee we can reach frequencies above 1k reliably.  We shall see.

[2016-07-12 05:01] lo-co commented on #143
Arrrrggggh...thought I got rid of this one!  I see what you are saying.

[2016-07-12 05:20] lo-co commented on #143
OK.  So, this was related to the UI (again).  In `cvt-service.js`, we had code to convert the integer `response.data.general.power` to a binary string:

[code]

So, this works if the value is something like 3 - converts to the string `11` and results in the 5-bit string `11000`.  But when we have 11, this looks like `10110` and this was wrong.  What we wanted was `01011` and the power array revers

[2016-07-12 06:06] lo-co commented on #133
Added new entry in CVT for calibrations: `calibration.active` has a boolean value.  This is set to `FALSE` at startup.

[2016-07-12 06:31] lo-co commented on #133
So, not quite sure the best way to implement this.  We can do this software timed in a `Timed Loop`, but it is unclear to me whether this is the best way.  I think that I am going to get in touch with someone at NI about this.

I added an Actor to the `Calibration` library called `O3 Frequency Train Actor`.  This may not be necessary if we can just specify a waveform that is generated at a particu

[2016-07-12 08:17] JustinLangridge commented on #143
Hi Matt, the logic is still not right - we are seeing the same issues as noted above (e.g. `O3` controlling denuder, `pump`controlling O3 etc)

Another oddity is that behaviour seems to change. Upon cycling `denuder` for the first time after launching the system it controlled the laser power supply. After this initial cycling, control of the laser cycling deferred to `laser`.  I didn;t observe thi

[2016-07-12 16:20] lo-co commented on #143
We need to go over this together whenever you are around.

[2016-07-13 09:10] JustinLangridge commented on #143
Dave made some changes to this last night and it looks like it is now working. Issues was with consistency in ordeing. Closing this now.

[2016-07-13 09:10] #143 closed, assigned to lo-co

[2016-07-15 00:53] lo-co opened #144 "BUILD EXE"
This is a regular request.  Builds should be nightly to make sure we snag issues early.  Record all issues here along with their resolution.

**PLEASE KEEP THIS ONE OPEN**

[2016-07-15 01:16] lo-co commented on #144
Successful build today.  Had to remove two VIs that were not used in the `TE Cooler` object library:
- `Write TSP`
- `Read TSP`

Build is not tested and is not currently set to run. Build is taking a long time to compile.  Will get a time next build.

[2016-07-17 10:33] JustinLangridge opened #145 "CRDS PMT acquisition not capturign ringdowns"
Appears to be an issue the timing on the PMT signal acquisition. The waveform data is not capturing the ringdown events.

For example, for `Blue dry` we are capturing the ring up period.  This is being fit to retrieve a reasonable ringdown time of around 20 microseconds. We are capturing around 400 samples

For the Blue gas channel (which is going into the slower 6132), it looks like we're capturi

[2016-07-17 12:11] JustinLangridge commented on #145
This is what the waveform returns look like currently. Note that all 4 of these cells are aligned (verified by putting output straight into a scope) .

This picture does change, for example the number of points acquired has flipped between 400 and around 2000 (as below). When the number of points acquired was 400, the blue channels ring ups were being fitted.

![image](https://cloud.githubusercont

[2016-07-18 04:27] lo-co commented on #145
Hmmmm...I am not totally following this (I mean I am but...).  Wasn't this working before?  I seem to have recalled seeing the actual RDs at one point.  Did something change or is my memory bad?

[2016-07-18 08:01] JustinLangridge commented on #145
I don't think we've ever had actual ringdowns coming through - we didn't have cells aligned when you were over or since until now.

Maybe this is related to issue #92 in lo-co/exscalabar. This issue is closed but we commented on potential downstream impacts from re-ordering the CRD PMT AI channels in Get Data. You were going to look in to this.

Note the actual channel assignments are as follows a

[2016-07-18 11:10] JustinLangridge commented on #96
this looks to be working. Closing.

[2016-07-18 11:10] #96 closed, assigned to lo-co

[2016-07-18 18:16] JustinLangridge commented on #136
Not getting what we're expecting with the mirrored file. For example, when we start a new file on c:/ a new mirror is not opened.

[2016-07-18 18:20] JustinLangridge commented on #79
This works. Will test writing to file separately and open new issue if needed.

[2016-07-18 18:20] #79 closed, assigned to lo-co

[2016-07-19 06:56] lo-co commented on #145
After looking at this for some time, it seems that the sampling is triggering 1x (we get 4x1000 samples and then errors indicating that the trigger is not rearming).  Needs more attention.

[2016-07-19 07:00] lo-co commented on #133
So, we are able to adjust the output on the O3 lamp counter DO.  Did some testing with Justin yesterday and found that _it may not be possible to achieve the rates necessary for adjusting the O3 output without a counter._  Need to add the UI elements.  The web service VIs for this are under `Calibration`:
- `O3LampFreq` - will adjust the loop time in the software that toggles the DIO for the lamp

[2016-07-19 15:14] JustinLangridge commented on #133
Dave has played with the timed loop part of the code today - we can now get up to around 5kHz reliably. Thus the digital output for driving the lamp part of this issue is now looking good.

[2016-07-19 16:27] lo-co commented on #133
OK...it looks like what he did was simply remove one of the notifiers (frequency notifier) and has a separate loop to pump the variable into a FP indicator.  The main loop then tags the local variable.  _Amazing difference in the rates that loops can run at..._

**IF you are ok with this, I wan to close this issue and add the UI controls for this now.**

[2016-07-19 18:41] JustinLangridge commented on #133
Yes we can close this issue now. Will do that now.

[2016-07-19 18:41] #133 closed, assigned to lo-co

[2016-07-20 06:13] lo-co commented on #144
Good server build today with CRD stuff in....

[2016-07-20 13:58] JustinLangridge commented on #144
Couldn't get the build to run - can you provide instructions?

Also tried doing a new build-what determines what needs to be included?

How have you tested it ?  How could we ?

[2016-07-20 15:50] lo-co commented on #144
OK...so right now, I am just making sure the builds go.  This is just an important  first step.

The build needs to be deployed and realize that the port you are on will change (on the UI).  Once a build is set as start up, it will force you to override or stop the run every time the system starts.

I am going to look this over but until now this has not been high priority

[2016-07-25 13:52] JustinLangridge opened #146 "Data file issues"
Some questions on the data file as it currently stands:
- can we change to comma delimited instead of space delimited?
- `CRD_cell_0_T` appears twice for each cell. Where are these coming from?
- What are `Med`and `High`?
- where are `pRH_T`, `pinlet_`T etc coming from?

The mirror file is still not mirroring the main file as expected

[2016-07-25 15:50] lo-co commented on #146
The file is `tab` delimited not `space` delimited.  Still want me to change it?

Will look at this but I believe it refers to humidified PID output?

Don't know.  Will look into it.

Will look into it.

[2016-07-25 22:43] lo-co commented on #144
Latest build is good:

![image](https://cloud.githubusercontent.com/assets/9597736/17120021/dfae881e-5286-11e6-8b44-2b77b9993738.png)

[2016-07-25 23:04] lo-co commented on #144
Installing `NI RT Extensions for SMP` so that we can monitor the CPU activity.

[2016-07-25 23:29] lo-co commented on #144
Finally got the CPU monitoring working via the `NI Distributed System Manager` but we are not actually seeing the system running.  Need to check the logs.

![image](https://cloud.githubusercontent.com/assets/9597736/17120963/40033d12-528d-11e6-8c02-2845ab92e50c.png)

[2016-07-26 05:12] lo-co commented on #144
## Debugging the RTEXE
1. Got to `Operate->Debug Application or Shared Library`
2. In the `Machine name or IP address`  box, input the PXI chassis IP address (`192.168.101.214`).

The RT exe will take a little bit of time, but once it starts up, you will begin to a `Connection status` output.

![image](https://cloud.githubusercontent.com/assets/9597736/17126600/ee72a6b6-52bb-11e6-909a-3e9f887e3331

[2016-07-26 06:32] lo-co commented on #146
We can unwind the tabs but is it necessary?  Every program that can read csv files generally can read tab-delimited also.  There are a lot of structures to go into; unfortunately I didn't think this through too well with regards to flexibility.

Also, the mirror file IS writing so I am not certain what the issue is there.  It is still not reading the header though.  Need to figure out why.

[2016-07-26 06:34] lo-co commented on #144
So, added a whole bunch of libraries to be always included in build.  I think we have unresolved dependencies.

[2016-07-27 06:42] lo-co commented on #145
Going to add something to the server to try to reset the AI acquisition if we are not retrieving in the right place.

[2016-07-27 16:56] JustinLangridge opened #147 "remove spaces from variable names"
Please do this

[2016-07-27 19:33] JustinLangridge opened #148 "Add functionality for pressure controller input"
Pressure controller needs adding to ini file (we can do this). However, code need to allow controller set point to be input into UI in millibar

[2016-07-28 04:05] lo-co commented on #148
This is not an issue.  It is already there.  Have you tried adding it?  It will be another entry in the Alicat section of the INI file.

[2016-07-29 06:51] lo-co commented on #147
I believe these were all in the `xData` object.

[2016-07-29 06:52] #147 closed, assigned to nobody

[2016-08-01 16:08] JustinLangridge opened #149 "Add CRD cell configuration to ini file"
Currently CRDS cell assignment in UI/data file don't match reality. Add ability to name cells in the ini to allow user configuration.

[2016-08-02 04:20] lo-co opened #150 "Filter state not making it to CRD"
The filter state has not been wired to get down to the CRD.  Because of this, we can not get `tau_0` or `ext`.

[2016-08-03 09:27] cathrynjfox commented on #146
Variables that can be deleted from the data file:
crd_cell_0_Q
crd_cell_0_T
crd_cell_0_RH
crd_cell_0_P
crd_cell_0_T
crd_cell_0_extdilfac
pRH_T
pInlet_T
pRedDry_T
pGreenDry_T
pBlueTD_T

[2016-08-03 09:32] cathrynjfox commented on #146
Header writing on data file is a bit flaky - was writing data for MFCs but no header names (see file test_20160801_123218.txt). Now isn't writing any headers at all (see file test_20160802_121948.txt)

[2016-08-03 15:11] JustinLangridge commented on #148
Thanks for adding this in the ini Matt. It is now showing up on the flow control tab and we can control the setpoint. However we're not reading back pressures

[2016-08-03 20:44] lo-co commented on #148
Didn't do anything with this - you did.  I will look into what is going on with the returns.

[2016-08-04 07:34] JustinLangridge commented on #148
That’s funny - must have been Dave at the end of last week. Might not be related, but could this be a factor with the data file writing issues that have appeared this week?

From: MSR [mailto:notifications@github.com]
Sent: 03 August 2016 21:44
To: lo-co/exscalabar_server exscalabar_server@noreply.github.com
Cc: Langridge, Justin justin.langridge@metoffice.gov.uk; Author author@noreply.github.com

[2016-08-04 10:42] JustinLangridge opened #151 "TEC water chiller setpoint not configuring correctly from ini file"
Set point from the ini file is not getting initialized correclty

[2016-08-04 11:42] JustinLangridge commented on #124
ok so a lot of the PAS initialization is ok now, but CRD lasers are still not initializing correctly. UI controls are updating as per the ini file (e.g. as we change frequency) but the actual laser settings are not.

This is only an initialisation problem and controls are working ok otherwise

[2016-08-04 11:45] JustinLangridge opened #152 "pressure controller not initilising"
pressure controller is not initialising from the ini file correctly. It defaults to 0mb!

This may be because we are using the wrong command in the ini file? C ommand we've inserted is:

[2016-08-04 13:10] cathrynjfox commented on #146
Headers now writing again... but still missing headers for some mfcs towards the end of the file (mfc_O3, mfc_O2, mfc_TAP, mfc_Purge, mfc_RedTD, mfc_BlueTD).

There are now 5 columns of data (all zeroes) before the Common.Time variable that I don't know what they are. Might be linked to the pressure controller. Can we write some header names for these 5 columns?

[2016-08-04 13:27] cathrynjfox commented on #146
laserRMS and IABack seem to always be zero
etau seems to always be NaN
DenuderBypass flag not working

[2016-08-11 04:31] lo-co commented on #151
Are you certain that the device setpoint is not being set and just not being displayed?  Made a change so that the setpoint is transmitted properly.

[2016-08-11 04:39] lo-co commented on #152
Yes - that is wrong.  Use the following to set it:

[code]

I have changed this in the INI file.  Please check this again.

[2016-08-11 05:51] lo-co commented on #150
If we get back tau0 and ext, then this is working.

[2016-08-11 06:21] lo-co commented on #146
OK...looks like I got the header/file writing issue fixed (at least in one place).  The header is consistent and the data is not jagged.  The problem was with some data emitters that were not registering properly (`Humidifier.high` and `Humidifier.low`).  All emitters must register before we launch the file actor or the data header may not be written properly.

Still have an issue with the header

[2016-08-15 05:11] lo-co commented on #148
No, I mean - all you had to do was add it to the configuration file... I may have fixed the Q0 stuff.  I will fix the pressure units.

[2016-08-15 05:20] lo-co commented on #152
Hey guys, can one of you tell me if the units are millibars on the controller?  Looks like they are to me.

[2016-08-15 05:21] lo-co commented on #152
Never mind - looks like they are.

[2016-08-15 05:48] lo-co commented on #152
This looks like this is working now.  Fixed the setpoint display issue there on the right hand side.  Changed the code in `ExFlowSvc`:

[code]

Added the last line about the setpoint.

[2016-08-22 10:17] JustinLangridge opened #153 "TEC Controls"
The TEC controls have disappeared on the 'Temperature' tab, with only the control for the 'Med RH' remaining. We need the old TEC controls back as soon as possible for our PAS cell characterization work.

[2016-08-22 11:14] mcotterell commented on #153
Just so there is no confusion for Justin, I opened this issue (the lab computer is logged on in Justin's account).

[2016-08-22 13:25] lo-co commented on #153
Check the logs.  It looks like  the TECs are not coming up in a good state and are dumped from the list.  You might want to talk to Dave or Justin about what might be going on...

[2016-08-22 22:07] lo-co commented on #136
This was not just an issue with the mirror file - we had a race condition that was preventing writing of the header to the second file that hit the stack.    On top of this, we had files being opened in 2 places
- `Change File Write Status` in  the `File Actor` library
- `File Actor::Generate New File`

I removed the file open method from the `Change File Write Status` message but am still not get

[2016-08-22 22:10] lo-co commented on #136
Removed the wrapper in `File Actor::Generate New File`.  Execution method was already `Non-reentrant`.

[2016-08-22 23:39] lo-co commented on #136
OK...so I think that we are almost there.  The `Humidifier.Med` and `Humidifier.High` data objects are not being sent back.  We either need to send something to fill these variables or remove them from the data set.

In the latter case, we need to add a mechanic to remove it if the humidifier is not available.

**File writing is currently not working!!!**

[2016-08-23 08:16] JustinLangridge commented on #136
Message from Michael:

What is meant by 'we need to add a mechanic to remove it...'?

It's frustrating that we can't save now - could the software be 'rolled back' to a version that works as soon as possible? We are meant to be performing a whole load of testing and data collection this week - this would have been fine with yesterdays version of the software, which at least saved data. Today, the

[2016-08-23 13:29] lo-co commented on #136
This is a note to myself.

First, let me say that when you all make changes, it has side effects.  Sometimes it is because the code is in a fragile state.  So, it breaks and shows why it is fragile and that is good.  The humidification is an example of this.  It caused several problems because I have not explained well what is intended to happen.

In this case, the we have two IDs added to the poo

[2016-08-23 13:40] lo-co commented on #136
Looks like this works now.

[2016-08-24 05:00] #136 closed, assigned to lo-co

[2016-08-24 05:01] lo-co commented on #153
Closing this issue as it is not software related.

[2016-08-24 05:01] #153 closed, assigned to nobody

[2016-08-24 05:01] #152 closed, assigned to lo-co

[2016-08-24 05:01] lo-co commented on #152
Should have been closed with the checkin above but language in the checkin was in correct.

[2016-08-24 05:06] lo-co commented on #150
Checked this in a file taken on the 23 of August.  The file is called `test_20160823_134238.txt`.  Looks like all of the proper variables are coming back.

[2016-08-24 05:06] #150 closed, assigned to lo-co

[2016-08-24 05:15] lo-co commented on #146
So, I am going to add the tag `File` to indicate the file related issues.  I am closing this now as the major issues associated with the file was the jaggedness and the lack of a header.  I would like to open individual issues for the points above that cathrynjfox raised.  To answer a couple of the questions above:

This is an error that is calculated how I can't remember.  It is computationally i

[2016-08-24 05:15] #146 closed, assigned to nobody

[2016-08-24 05:16] lo-co opened #154 "Denuder/Bypass flag not properly written"
This was raised in #146.

[2016-08-24 05:17] lo-co opened #155 "laserRMS and IABack seem to always be zero"
Initially raised in #146.

[2016-08-24 05:43] lo-co commented on #155
Reason `IABack` is not returning is the filter signal is not getting to the PAS.

[2016-08-24 05:45] #154 closed, assigned to lo-co

[2016-08-24 06:09] lo-co commented on #155
Fixed issue with filter not coming back.  Now the issue seems to be that the precision is incorrect (`lRMS` is very small).  Will fix this later.

[2016-08-26 04:33] lo-co commented on #145
Works

[2016-08-26 04:33] #145 closed, assigned to nobody

[2016-08-26 05:05] lo-co commented on #116
Closing for now

[2016-08-26 05:05] #116 closed, assigned to lo-co, datid, JustinLangridge

[2016-08-26 05:07] #42 closed, assigned to lo-co

[2016-08-26 05:09] lo-co commented on #45
Will add issue for future work concerning PID and htx and clx.

[2016-08-26 05:09] #45 closed, assigned to lo-co

[2016-08-26 05:13] lo-co commented on #7
OK...added the above logic.  Can we test this?

[2016-08-26 05:50] lo-co commented on #2
Done

[2016-08-26 05:50] #2 closed, assigned to nobody

[2016-08-26 05:51] lo-co commented on #28
Done.  Just need to exploit this on the client side.

[2016-08-26 05:51] #28 closed, assigned to lo-co

[2016-08-26 05:53] #34 closed, assigned to lo-co

[2016-08-26 05:54] lo-co commented on #10
Was handled in #133.

[2016-08-26 05:54] #10 closed, assigned to lo-co

[2016-08-26 05:55] lo-co commented on #43
Done and works

[2016-08-26 05:55] #43 closed, assigned to lo-co

[2016-08-26 05:56] #14 closed, assigned to nobody

[2016-08-26 05:57] #20 closed, assigned to lo-co

[2016-08-26 05:57] lo-co commented on #32
This issue is redundant and not specific enough.  Closing

[2016-08-26 05:57] #32 closed, assigned to lo-co

[2016-08-26 05:58] lo-co commented on #21
Not specific.  Closing.

[2016-08-26 05:58] #21 closed, assigned to lo-co

[2016-08-26 05:59] lo-co commented on #36
Don't know what was meant by this.  Closing.

[2016-08-26 05:59] #36 closed, assigned to lo-co

[2016-08-26 06:04] lo-co commented on #57
They are.

[2016-08-26 06:04] #57 closed, assigned to nobody

[2016-09-06 16:58] lo-co commented on #144
Changed some of the advanced options such that in-lined VIs are not removed and unused library elements are not always removed.  I still think we are dealing with dependency issues here.

[2016-09-08 03:45] lo-co commented on #144
Discussing builds with Allan Smith [here](https://decibel.ni.com/content/message/143875#143875).

[2016-09-08 03:52] lo-co commented on #155
In `PAS Cell Data::Serialize-Text` I changed the format for writing from `%0.2f` to `%f`.  This will create larger files but will get all of the significant digits.  This will apply to all PAS cell data.

[2016-09-08 04:26] #155 closed, assigned to lo-co

[2016-09-08 04:28] lo-co commented on #46
Web service added and is functional.  Current calibration parameters are retrieved and properly displayed on the calibration page of the client.

[2016-09-08 04:28] #46 closed, assigned to lo-co

[2016-09-08 04:55] lo-co commented on #130
So, we were already grabbing a lot of data and pumping it into the `mTEC Data` object.  The file will now hold that data.  The data will be as follows:
- `Tobj`
- `Tsink`
- `Vout`
- `Iout`
- `Tbase`
- `Tsp`
- `Temp Stable`

This last value is 0/1 for `FALSE`/`TRUE`.

Also added this to the serialized json string.

**THIS NEEDS TESTING TO MAKE SURE WE DIDN"T BREAK THE DATA STREAM!!!**  I can not te

[2016-09-08 08:52] JustinLangridge commented on #151
This is functioning properly now. Both the device and UI control are changing based on the ini file values.

[2016-09-08 10:41] JustinLangridge commented on #149
So the data file has updated with the new names from the ini file, however something is not right here. I changed the naming in the .ini file from 'Cell_0,Cell_1,Cell_2,Cell_3,Cell_4' to 'crds_405,crds_gas,crds_highRH,crds_medRH,crds_660' (in all places) and the server would no longer connect to the UI.

[2016-09-08 11:28] JustinLangridge opened #156 "Data file header not matching data"
The data file contains more columns of data then there are entries in the header file. Also for the first few entries in the file, the number of data columns appears to increase.

This is a new issue - could it be linked to recent changes to the crds ini file entries or addition of more meerstetter variables?

[2016-09-08 15:02] lo-co commented on #156
Aaaaaaaaaaaarrrrrrrrrrggggh!!!! This problem was fixed!!  I suspect this has to do with changes made with the humidifier code.  I will look into this.

[2016-09-08 15:02] #151 closed, assigned to lo-co

[2016-09-08 16:28] lo-co commented on #156
Looks like the MFC data and possibly the humidifier data is not properly writing headers.  Will check this out later today.

[2016-09-09 05:50] lo-co commented on #156
OK...after hours of work on this, I fear I am back to square one.  I need to see what happened here and will have to ask Dave if anything might have changed.  Essentially what is happening is that the data registration is not completing as it should.  Likely I will not be able to fix this until after this weekend.

[2016-09-12 13:38] JustinLangridge commented on #7
Tested status LEDs - they are  working apart from the following:
- Laser LEDs are still on when the laser power supply is not (both turning off in the UI Common tab, and when undoing the breaker on the rack)
- PAS lasers 4 & 5 are lighting the wrong LEDs i.e. laser 4 (red TD) is lighting the 405 LED and laser 5 (blue dry) is lighting the 660 LED.

The interlock logic is now working.

[2016-09-13 07:34] lo-co commented on #144
OK.  So have found a couple of broken links in the build:
- `Controller.lvlib:Device Init CVT MSG`
- `Controller:Update Device Configuration MSG`

The object signature looks wrong for the latter as there is no `.lvlib` extension.

![sublaunch](https://cloud.githubusercontent.com/assets/9597736/18464220/ecb4e660-794c-11e6-91c9-bfcb3a7f1324.png)

Both have the following message in the **Context Help

[2016-09-14 06:53] lo-co commented on #144
`Instrument` does not seem to be creating problems.  Able to build this into a simple rtexe with no problems....

[2016-09-14 07:11] lo-co commented on #144
Tried to run the device actor using the launch VI but nothing ever popped up on debug...

[2016-09-14 16:36] lo-co commented on #144
Attempted to build a stump with the `File Actor`.  Seems to have run and finished ok.

[2016-09-16 05:53] lo-co commented on #144
On recommendation of AE, have mass compiled some of the folders and found one VI with an "insane error":

and

As defined [here](http://digital.ni.com/public.nsf/allkb/AFA28DCC3DE89839862566B200594E8C), this is an issue with a front panel type definition (FPHP).  I have removed the original front panel objects and replaced them with non-type-def'ed ones.  Recompiling the directory seemed to fix th

[2016-09-20 06:31] #156 closed, assigned to lo-co

[2016-09-20 06:35] lo-co commented on #94
It is in there and has been for a while.

[2016-09-20 06:35] #94 closed, assigned to lo-co

[2016-09-20 06:36] lo-co commented on #83
The flag is there in the file, we just need to populate it appropriately...

[2016-09-20 06:47] lo-co commented on #149
Was not able to reproduce this issue.  Now running with the names that you all were using.  Here is an image of the `max` being plotted:

![no issue with named cells](https://cloud.githubusercontent.com/assets/9597736/18660084/d2fff136-7ecb-11e6-90ad-cd084c0256bb.png)

[2016-09-20 06:47] #149 closed, assigned to lo-co

[2016-09-21 07:41] lo-co commented on #68
Parameters for writing are in the INI file under `CRD Taus`.

[2016-09-21 10:46] JustinLangridge commented on #149
The names from the ini file (crds_405, crds_gas) etc. are now being reproduced in the variable names in the data file so this issue seems to be fixed now.

[2016-09-21 10:48] JustinLangridge commented on #130
Data file is still only writing variables Tobj, Tsink and Vout

[2016-09-21 10:53] JustinLangridge commented on #7
Was this the message (above - Sep 12) that was thought to have been deleted? LEDs still functioning as in this message.

[2016-09-21 15:30] lo-co commented on #68
The format of the file is binary.  The data is as follows:
- Double precision float (64-bit, 8 bytes) that represents time
- Two (2) 32-bit integers (2x4 bytes)
- Array of double precision numbers representing `tau` the length of which is the product of the two integers above.

I am putting together a little python file to read it in now...

[2016-09-21 16:07] JustinLangridge commented on #68
This is working nicely thanks. Nick and Dave have been looking at some data toady (Dave got a quick binary read routine going although if you have one we'll certainly take it). On first account it looks like averaging of traces is working fine and thus not the cause of the poor stability we're seeing.

Happy for you to close this one when ready.

[2016-09-21 21:11] lo-co commented on #68
Here is some python for decoding the file:

[code]

I will probably add this to the repo.

[2016-09-21 21:11] #68 closed, assigned to nobody

[2016-09-22 12:23] JustinLangridge opened #157 "crds extinction calculation"
Matt, can you point us to the bit of code that does the extinction calculation. We can work though it to try and work out where the error is coming in

[2016-09-23 22:16] lo-co commented on #157
The calculations for `tau` are performed in the `CRDS Cell` object in the method `CRDS::Analyze Data`.

If you all decide to adjust any calculations associated with this measurement, please make me aware.  These VIs are core VIs and do not change between other incarnations of the CRD class, whether they be the AOP, Open Path or EXSCALABAR.

My suggestion as to where to look for issues is in the da

[2016-10-03 04:42] lo-co commented on #130
Can you double check this in the `sw_repo` version?

[2016-10-03 04:57] lo-co commented on #130
Just to be clear, I can only test this when you are around but I am absolutely positive that it is being written now.

[2016-10-03 05:47] lo-co commented on #140
Not really sure what is going on here.  The speaker appears to trigger twice?  Dave or Justin can you look into this?  I added code in the most recent commit but don't think this will fix it as it appears that when the speaker triggers off, the signal flatlines and then the speaker signal pops up again and then disappears as the laser comes back on...

This may be another issue altogether that is

[2016-10-18 16:18] JustinLangridge commented on #124
Looks like we still have a problem here. Fore example, CRDS laser enables are currently set in the ini to FALSE, but the system initialises with lasers on

[2016-10-18 16:19] JustinLangridge commented on #7
Remaining issue here is that the laser LED remains on even when the power supply control (in the common tab) is disabled. Once this functionality is in place we can close this issue

[2016-10-18 16:24] JustinLangridge opened #158 "Missing Alicats"
This is an intermittent problem with the alicats. Ocassionaly (maybe 1 time in 3 or 5?) the system misses an alicat at boot up, resulting in it not appearing in the UI. This is fixed by a reboot but shoudn't really be happening. Ca we pin down the cause?

It was particularly an issue on the aircraft as the software launch time runnign over the aircraft netwrok was significantly slower than for nor

[2016-10-18 16:30] JustinLangridge opened #159 "CRDS triggering"
So the fix we have in there seems to work most of the time, but we had several problems during the test flight where the CRDS triggering was never settling down and thus we had to do a full restart in order to acquire data.

It would be good to make this more robust if we can. Matt, can you give an overview of what we are doing currently? If you can tell us enough to enable us to play with optimis

[2016-10-19 16:06] lo-co commented on #159
I am not sure what the best way to go about this is.  When triggering fails, it is usually due to the CRDS loop not completing as it should...but even this should not be an issue.
That being said, it was and apparently still is.  So, if you take a look at `eCRDS::Get Data` (found under `Instrument->CRDS->eCRDS Library->eCRDS` in the project), you will see some currently very kludgey code.  This co

[2016-11-03 05:01] lo-co opened #160 "Add CRD RD write functionality"
This is required for checking issues with the ringdowns

[2016-11-03 05:22] lo-co commented on #160
Added several objects:
- `Exe Write CRD RDs`
- `Stop CRD RD Write MSG`
- `Start CRD RD File MSG`

Also added a reference to the queue in `Controller::Send Write Main MSG`

[2016-11-04 21:33] lo-co commented on #160
OK...sounds like I grabbed the wrong data.  Need this to be a 5 x no_rds x no_pts_per_rd.  Grabbed averaged  and fitted data...

[2016-11-09 04:55] lo-co commented on #144
Verified - the problem with the exe is the VI `O3 Frequency Train Actor::Generate Pulse Train`.  I removed this from the `Actor Core` and it does run.  Not sure what the problem is but I am going to test a couple of things...

[2016-11-14 06:33] lo-co commented on #144
Build is good now.  Problem currently is with the sequence in the timed loop.  Don't know why...

[2016-11-14 06:34] lo-co commented on #38
Removed the coercion in the `O3LamFreq` web service VI.  Don't need this as we do it in the actual setting of the lamp frequency.

[2016-11-14 06:36] lo-co commented on #38
Changed `O3 Level STEP` to `O3 Lamp Frequency STEP`.  Removed conversion from step so now it is sending raw frequency.

[2016-11-22 17:02] JustinLangridge opened #161 "Vaisala cal coefficients"
Can we add calibration coefficients for the vaisalas to the .ini file? These will be coefficients based on a straight line fit of the true RH to the RH measured by the device.

While this is a nicety for most of the probes and can be applied in post-processing, it is important for the  two vaisalas used to control the RH as we want to control to a calibrated RH value.

[2016-11-22 17:05] JustinLangridge opened #162 "Add PAS cal coefficients to ini"
Can we add an option to the .ini file to put in calibration coeficients for the five PAS cells. These will be straight line coefficients mapping absorption to integrated area.

These coefficients would then be used to calculate and visualise a rough absorption from the UI.

[2016-11-23 06:03] lo-co commented on #162
I am assuming these would be linear, no?  Or do you want it more flexible?

[2016-11-23 06:21] lo-co commented on #162
The linear coefficients (``m`` for slope and ``b`` for intercept) are already there in the configuration file.  These are read in ``PAS::Configure`` and deposited in the property for each cell ``PAS Cell::Ext Param``.  ``Ext Param`` is a cluster that contains two variables - ``slope`` and ``intercept``.
Right now, it appears we use the slope but for some reason are not using the intercept.  The ca

[2016-11-23 07:19] lo-co commented on #38
The actor works, but we need to make sure that all of the steps are executed properly.

[2016-11-23 12:56] JustinLangridge commented on #162
Hi Matt,

The above equation is close but not quite right I think. Here is the process that we need to follow to derive the quick look absorption data. As per the above we can include an approximate IA background correction, but need not apply a laser power correction.

Definitions:

C0 = f0/Q
C1 = IA_bkg x C0
C2 = IA x C0

In analysis of the cal meaurements we'll do straight line fits of CRDS_ext

[2016-11-28 05:01] lo-co commented on #162
I am assuming that f0/Q is the laser power correction?  The calculation in the above section is now applied.

[2016-11-28 05:29] lo-co commented on #161
Providing two new properties in the ``Configurable Device`` class:

* ``Cal Equation`` - user can use this to apply a calibration to the *primary* measurement of the device (RH for the Vaisala's, pressure for the PPTs, volumetric flow for the Alicats, etc).  The input will go in the configuration file as ``[ID].CalEquation`` and can be applied to *any* object classified as a **Device**.  This valu

[2016-11-28 07:54] lo-co commented on #161
Added for MFCs, PPTs and Vaisalas.  Tested specifically for Vaisala's.

[2016-11-28 07:56] #161 closed, assigned to lo-co

[2016-11-28 09:01] datid commented on #161
Is this calibration just for display purposes ?  I think data recorded should be as close to raw data as possible.

[2016-11-30 05:40] lo-co commented on #161
No.  It is not just for display purposes.  Generally calibrations are generally something done rarely and therefore we just apply them across the board.  The raw data is *always* there - the user performing the analysis simply has to invert the calibration (generally trivial for polynomial fits).  That being said, I understand the desire to include the raw data.  To this end, I have two potential

[2016-11-30 16:31] datid commented on #161
Seems the second is probably the better option.

From: Matt Richardson [mailto:notifications@github.com]
Sent: 30 November 2016 05:41
To: msr-consulting/exscalabar_server
Cc: Tiddeman, Dave; Comment
Subject: Re: [msr-consulting/exscalabar_server] Vaisala cal coefficients (#161)

No. It is not just for display purposes. Generally calibrations are generally something done rarely and therefore we jus

[2016-11-30 16:38] lo-co commented on #161
If it is quick I might be able to get it in.  I think it would be good to always have the most recent copy of the INI anyway just in case something happens.

[2016-12-12 13:48] JustinLangridge opened #163 "Data file"
Here are the current issues with the data file:

- Data labelled as 'crds_660' should be 'crds_gas'
- Data labelled as 'crds_gas' should be 'crds_medRH'
- Data labelled as 'crds_medRH' should be 'crds_660'

- Can we change the name of all variables to avoid explicit reference to wavelength. Instead use 'red', 'blue' and 'green'.

- '_ext' and '_extcorr' in the data files would more usefully be in

[2016-12-12 13:51] JustinLangridge commented on #157
Looks like this is a units issue - multiplying by 10^-8 should get it to Mm-1

[2016-12-13 11:42] lo-co opened #164 "TEC Setpoint not updating when humidifying"
Messages indicate that we are updating but this is not reflected in the CVT.  Appear to bypass general device setpoint messaging in ``Controller::Humidification`` VI.

[2016-12-13 13:08] lo-co commented on #163
These are INI values that can be changed by the user:

[2016-12-13 13:22] lo-co commented on #163
Change ``Qsp`` to ``SP``.

[2016-12-13 13:40] #164 closed, assigned to lo-co

[2016-12-13 15:22] JustinLangridge commented on #163
A couple of extra variable name changes:

- rename 'denuder bypass' flag to 'denuder'
- rename 'cabin' flag to 'inlet'

[2016-12-13 21:06] lo-co opened #165 "Web services should shutdown when applicaiton shuts down"
Use ``Startup.vi`` to handle this.

[2016-12-13 21:34] lo-co commented on #165
Only way to stop this is to stop through the web interface or by right clicking stop?  Ugh

[2016-12-13 21:34] #165 closed, assigned to lo-co

[2016-12-14 09:45] lo-co opened #166 "Write server files to data directory at startup"
We have the possibility of losing the INI either through a rebuild or accident.  Add ability to write regularly to the data file these important files.

[2016-12-14 11:38] lo-co commented on #166
Works now - will write to the two places defined under the section ``MainFile`` in the ini.  The format of the name is the date_time similar to the data files with no prefix and a .ini extension.  If either of the top level locations does not exist, it will not attempt to copy the file to that location.

[2016-12-14 11:42] #166 closed, assigned to lo-co

[2016-12-15 10:01] lo-co commented on #144
Currently struggling with the web services not starting properly.  **One possibiliity is that we are starving the web server of resources  due to the main application starting before the server.**  Tried to start service without VIs loading and this seems to not be an issue.

[2016-12-15 17:00] JustinLangridge commented on #162
OK Matt, thinking about this more it would be worth modifying so that we include the laser power in addition to the f/Q corrections in our calibrated slopes. Hence our online absorption calculation needs some slight modification to the following (where P is the photodiode rms laser power)

Definitions:

C0 = f0/(Q x P)
C1 = IA_bkg x C0
C2 = IA x C0

In analysis of the cal meaurements we'll do stra

[2016-12-15 17:07] JustinLangridge opened #167 "syncing filter and speaker cycles"
Been meaning to post this one for a while. The filter and speaker cycles are out of sync even when we lock them together using the UI control

[2016-12-16 10:56] lo-co opened #168 "PAS Wvfm not writing"
Looks like we are calling the wrong actor for this.

[2017-01-05 21:17] lo-co commented on #168
This works now.  You can find a LV example of how to read the data in the exscalabar_server folder under ``Support - the VI is called ``Process PAS Waveform Data``.

[2017-01-05 21:19] #168 closed, assigned to lo-co

[2017-01-05 21:49] lo-co commented on #93
Added property to ``PAS Cell`` object called ``Mod Freq`` - this will hold the modulation frequency selected by the user.  This value is updated in the command ``Change Laser Frequency`` found in the ``ePAS Library``.  It will be the value that will be used by ``PAS Cell Data::Get Integrated Area`` method.

[2017-01-05 21:58] lo-co commented on #93
Added new input to ``PAS Cell Data::Get Integrated Area`` method called ``fmod`` - it is a single precision variable that represents the modulation frequency.  The input is optional with a default of 0, but if the value is populated, it will be used to calculate the integrated area.  In ``PAS::Analyze Data``, this value is connected to  the new property defined above.  For former behavior, you sho

[2017-01-05 22:04] #93 closed, assigned to lo-co

[2017-01-05 22:15] lo-co commented on #167
OK - this is actually just a misunderstanding as to how this works.  If the speaker is in a manual mode, then *you can not connect the cycles*.  The reason for this is that I am assuming that if the speaker is *not* set to autocycle, the user wants to explicitly control the speaker functionality.  If you want to change the way this behaves, open another ticket and add the tag enhancement to call o

[2017-01-05 22:17] lo-co commented on #163
Dave - I added you as an assignee.  Can you handle this and let me know what issues you are having with trying to close this out.  Would be nice to see this one gone ASAP (should be manageable).

[2017-01-05 22:19] lo-co commented on #162
This is something that Dave should be able to easily handle.  Dave , can you try to fix this and then let me know if you have any issues with this.  All of the information should be provided above  to make this easy for you to find your way...

[2017-01-05 22:24] lo-co commented on #148
I am taking no action on this as I assume that all is well with this...

[2017-01-05 22:24] #148 closed, assigned to lo-co

[2017-01-05 22:25] lo-co commented on #130
Dave, can you please test this to see if we are returning this?

[2017-01-06 13:15] JustinLangridge commented on #167
Matt, can you explain the expected functionality on the cycle locking as it is not

[2017-01-06 13:15] #167 closed, assigned to lo-co

[2017-01-06 13:31] JustinLangridge opened #169 "speaker and filter cycle locking"
Both the speaker and filter cycles work when used on their own.

I can't tell if the connect cycles function is doing what is should be as I am not sure what it is supposed to be doing. Please could you explain.

What I'd like is for it to allow us to have the speaker trigger for a set length of time every time the filter changes position. It isn't doing this currently.

This then raises questions

[2017-01-06 14:09] lo-co commented on #169
As explained in #167, I *assume* that when you have the speaker on manual (i.e. not automatically cycling by itself), then the user wants explicit control over the speaker position.  So, in order to link the two, you will need to set the speaker to cycle ***and*** hit the connect button for both.  The ``per (s)`` is only redundant if

1.  the filter cycle is active AND
2.  the filter cycle ``per (

[2017-01-12 11:07] JustinLangridge commented on #169
Just to confirm the tests performed so far to evaluate performance of the cycle linking have had the speaker set to auto cycling, the filter set to auto cycling and the connect button active. Thus I think we still have a problem here.

The functionality that we need is to have the ability to trigger the speaker for a set length of time every time the filter changes position. Can we implement the c

[2017-01-12 11:40] datid commented on #163
I have changed cabin to inlet in the data file, but it is still named cabin through much of the code.  I am waiting on more confirmation which position the denuder valve is in before changing that.

[2017-01-13 15:25] datid commented on #144
I created a build which doesn't run the launcher, but launches from the web services startup.vi.  If you look at the contents of the build you will see the original both the startup.rtexe and the xService .lvws are approx 22 MB, whereas in the new one (EXSCALABAR xService) the startup.rtexe is much smaller (it is just a dummy program that flashes LEDs).  It still runs .. I think this means that ev

[2017-01-13 21:35] lo-co commented on #169
This works - have confirmed it multiple times now and am unable to reproduce this behavior under the conditions that you have above.  I will try to produce a screen grab that demonstrates what I am seeing.

[2017-01-16 04:56] lo-co commented on #144
This errored out with 413.  This is the same issue I had last time I tried this (doesn't look like this is documented above, but I had already tried this).  That being said, you may be on to something but I am not sure why this impacts the startup.  According to NI AEs, the dups are not consequential as it just means it tries to reference the web service locale but the app VIs are located in the a

[2017-01-16 05:36] lo-co commented on #144
So, one thing that I am trying is to

* Uncheck the ``Load VI at Startup`` check box for each of the HTTP methods in the web service, and
* Disable debug functionality for the exe.

Not certain exactly what is going on here, but it really seems to be correlated with the rate at which the FPs for the web service load.  We shall now see what happens.

[2017-01-16 16:09] datid commented on #144
I am not sure what had happened, but it wasn’t too happy this morning.  I think it is back to a working state, but I did notice from git status, that every ( or nearly every ) vi seems to have been modified – do you think that was disabling the debug functionality ??

[2017-01-16 17:33] lo-co commented on #144
So, it look like through some magic, Dave got this rolling.  From restart to run, the system is up in less than 1.5 minutes.  I am going to consider this the solution and will leave this ticket open for keeping track of the current builds.  It is important to note that the ``LimitBodyRequest`` was set to 30 MB.  Not sure why this worked this time, but maybe increasing it to the full 2 GB is just t

[2017-01-16 17:54] lo-co commented on #169
OK...so it is easy to reproduce the functionality described.

1. Set the speaker to autocycle (under ``PAS`` select the LED ``AUTO``)
2. Connect the two cycles (select ``Connect Cycles`` so that the LED is lit on the ``PAS`` page).
3. Deselect the speaker so that it is off (``Speaker`` LED should be off)
4. Cycle the ``Filter`` control (turn off - LED not lit - and then on - LED lit).

You should

[2017-01-16 17:54] #169 closed, assigned to lo-co

[2017-01-20 09:24] JustinLangridge opened #170 "filter and speaker cycling"
This looks to be almost working as we need, but someremaining issues:

- When cycles are connected, the speaker is only firing when we move the filter valves from sampling -> filter positions and not when they move back from filter -> sampling. Can the speaker be made to fire automatically for every time the filter valves change position?

- The timing seems a bit off. When we set the speaker to f

[2017-01-20 15:47] lo-co commented on #170
I thought the intention would be to run the speaker cycles as originally intended but (for instance, have the speaker on 20 s even if the filter length was 60 s).  Wouldn't this be what you wanted? It seems to me you can't get a background if the speaker is on speaker the *entire* time the filter is on.  Now, this gets to another point (also called out below).  It seems to me that the speaker is n

[2017-01-25 05:23] lo-co opened #171 "Add modulation frequency to data file"
As it stands, we can now change the frequency that the lasers are modulated (they are no longer tied directly to the resonant frequency, #96).  We now need to add the modulation frequency to the data file.

[2017-01-25 05:29] lo-co commented on #171
Added ``fmod`` to ``PAS Cell Data`` with output for ``PAS Cell Data::Serialize - Text`` and ``PAS Cell Data::Generate Unique Header``.  There is no entry in the json serialization as this is a control value (in the CVT and serves no purpose other than to let the user know what the current frequency the system is calculating ``IA`` at.

[2017-01-25 05:36] lo-co commented on #171
Added an input in ``Change Laser Frequency::Handle Command`` in the ``ePAS Library`` - when the modulation frequency is updated, so is the above value in ``PAS Cell Data``.

[2017-01-25 06:23] lo-co commented on #171
OK...added this but couldn't get things deployed?  Can someone test this for me tomorrow?  You should see genuine values for modulation frequency in the data stream now.

[2017-01-25 14:02] datid commented on #130
All these parameters seem to be there - closing

[2017-01-25 14:02] #130 closed, assigned to lo-co, datid

[2017-01-25 15:05] datid commented on #163
Denuder Bypass - should be just that ( the denuder is bypassed ).  Labels changed from wavelengths to colours in .ini for PAS and CRDS.
Q0 changed to SP in flow/pressure controller .ini .  Qsp changed to SP in file.

Not sure on what to do about etau or tau averages.  Otherwise worth checking a file to see if it has the right stuff in ...

[2017-01-25 15:29] lo-co commented on #163
``etau`` is an error parameter from calculating tau based on the LRS paper.  You have to specify that you are going to turn it on in order to get something meaningful out of it.
I will take a look at the tau averages today.

[2017-01-26 17:30] lo-co opened #172 "Two temperatures in data file"
Asked why there are two temperatures in the data files associated with the CRD. Will look into this.

[2017-01-27 10:06] datid commented on #172
The first .T appears to come from Tmean - not sure what this is a mean of, but I can change the heading to match.

[2017-01-27 10:42] #172 closed, assigned to lo-co, datid

[2017-01-27 12:25] JustinLangridge commented on #170
You are right that we want the speaker to fire only for the initial part of the filter cycle (e.g. for 20s even if the filter length is 60s). Currently we can do this. The problem is that I’d also like it to fire for 20s when we come off the filter, which it doesn’t currently do.  The speaker is cycling, however the UI indicator is not cycling which is maybe why it looks like it gets stuck on the

[2017-01-30 10:39] JustinLangridge opened #173 "Data file time writing issue"
This is an intermittent problem, whereby it the time stamp in the data file is missing seconds or writing the same time stamp twice.

It is not clear if this problem only impacts the time stamp or if also impacts the actual data as well.

For example see this file: [test_20170116_150819.txt](https://github.com/msr-consulting/exscalabar_server/files/738627/test_20170116_150819.txt)

We have:

missi

[2017-01-30 10:43] JustinLangridge opened #174 "Move laser off resonance when speaker is on"
We are running in to problems during high ozone calibrations. Basically there is so much absorption signal from the ozone that we no longer get a good fit to the lorenzian speaker signal.

This could be remedied by setting the lasers to a laser a  nominal frequency off resonance whenever the speaker is on. Would this be possible?

[2017-01-30 11:26] datid commented on #173
Is this caused by having different timed loops producing and consuming the data.  If it is it seems like it is quite a fundamental issue - whether just tying them together would be enough to fix this I am not sure.

Well I have added some dodgy code to link the timing of Common.vi and Send Write Main MSG.vi so that the file writing is trigged 0.5 seconds after the time stamp is created.  It is a h

[2017-01-30 16:50] cathrynjfox commented on #174
I've tested out turning up the speaker to see if it could 'drown out' the spikes caused by the ozone absorption - it didn't work. If there could be a button to turn the lasers on/off in the ozone cal setup, I could add that into the calibration sequence?

[2017-02-01 06:04] lo-co commented on #174
Looking into this now.  I thought that I was already kicking them off resonance, but maybe that is not implemented...

[2017-02-01 06:32] lo-co commented on #174
OK...now when you make the switch from sample to speaker, the system will set the modulation frequency to 800.  Is this good?  I am going to assume that it is and close this ticket.  Reopen if it is no good.

[2017-02-01 08:27] JustinLangridge commented on #174
Thanks, that should do the job. We will test it and let you know

[2017-02-02 20:21] lo-co commented on #173
OK - I see a comment in the ``Controller::Send Write Main MSG`` that says

So, first off, there is nothing "arbitrary" about this timing and it is by no means "dodgy".  We trigger the system to write data at 1 Hz intervals.  You have to remember, there is always some data ready to be written.  If you want to trigger a write off of a single data source, then you have to ask - which one?  Both the C

[2017-02-02 20:39] lo-co commented on #173
So, @datid  - looked at your solution.   I am not sure why you think this solution is dodgy.  This is the third solution that I put up there.  Seems just fine to me; what's the problem?

[2017-02-02 22:21] lo-co commented on #173
OK...cleaned up the ``Controller::Common`` and can't figure out why that would have backed up.  Likely an issue that we were having is jitter, i.e. two loops starting around the same time and small differences in execution rates causing the timestamp not to update (this is why you see dt=0 in some cases).  I think that your solution is perfect (offset the two timed loops).  This will guarantee cor

[2017-02-02 22:21] #173 closed, assigned to lo-co

[2017-02-02 22:46] lo-co commented on #170
So, just a quick diagram to detail how this works (the speaker cycle and filter must be connected AND the speaker must be set to cycle - this has changed as it also used to be required that the filter being set to ``TRUE`` or on).

1. A message is fired to change the filter position.  This message can originate from the UI OR from the server (if the filter is set to cycle).
2. The message ``Change

[2017-02-02 22:54] lo-co commented on #170
In ``PAS Library::PAS::Rcv Cmd`` use the ``ExtCom`` queue to send back the information required for updating the CVT when the speaker is automatically cycled.

[2017-02-03 21:46] #170 closed, assigned to lo-co

[2017-02-03 21:48] lo-co commented on #160
Can we consider this one closed?

[2017-02-03 23:05] lo-co commented on #83
Currently, this is in the file.  When calibrating, this flag is set to 1.  Closing this for now as it indicates a calibration in progress.  Will update after phase 3 is complete as this goes beyond the extent of reqs for phase 3.

[2017-02-03 23:06] lo-co commented on #157
Closing this now.  If there is an issue, please raise it as a separate issue related to units.

[2017-02-03 23:06] #157 closed, assigned to lo-co

[2017-02-06 05:21] #13 closed, assigned to nobody

[2017-02-06 06:45] lo-co commented on #51
Dave added the UI element.  This works and is tested.

[2017-02-06 06:47] #51 closed, assigned to lo-co

[2017-02-06 06:52] lo-co commented on #140
This is a real problem that I am not sure that I am the source of.  You guys need to verify that this is not hardware.  I seem to be only sending the signal to turn off the speaker once, but it appears to trigger on after it goes off.

[2017-02-06 14:48] datid commented on #144
This is achieved by using "publish" in the web services, and including the launch code in startup.vi rather than a separate launcher.  Publishing takes about 10 minutes, but then the system can be rebooted in about 1.5 min.   ``LimitBodyRequest``  was set to 30 MB as the total size of the built executable has been around 22MB .  There need be no build as such.
I think this can be closed..

[2017-02-06 17:15] cathrynjfox commented on #83
I don't think this is working at the moment. It is always 0 even when running a calibration.

[2017-02-06 22:30] lo-co commented on #83
Being set.  Doesn't look likes it's getting where it needs to be.  Possible that the ref to the CVT is not correct.

[2017-02-07 00:30] lo-co commented on #83
Wrong reference used.  Appears to be corrected now - will write 2 as we don't have a UI input that will allow the user to specify a pressure cal.

[2017-02-08 10:52] JustinLangridge commented on #5
Closing as not sure this is still needed

[2017-02-08 10:52] #5 closed, assigned to lo-co

[2017-02-08 10:56] JustinLangridge commented on #38
Need to add control for pressure controller in the auto sequence setup options

[2017-02-08 11:02] JustinLangridge commented on #47
now that we're saving ini files with the data files this is covered. Happy to close.

[2017-02-08 11:02] #47 closed, assigned to lo-co

[2017-02-08 11:09] JustinLangridge commented on #49
We'd be happy with this behaviour: when USB drive not present if this just writes to C drive.

Optimal solution (an enhancement) woudl be to show on the UI how full each of the drives are that are being written to. Then the user will be able to see what is present and also monitor the free space left on the drives

[2017-02-08 11:10] JustinLangridge commented on #50
Does it not already do this? If so can we close?

[2017-02-08 11:12] JustinLangridge commented on #72
Should this one read 'add calibration flag to data file?'

I'm happy that we don't need to identify the difference between pressure and O3 cals. Thus this can be closed once we have a flag that cycles between 0 (not calibrating) and 1 (calibrating)

[2017-02-08 11:13] JustinLangridge commented on #83
If this can write 1 (instead of 2) when calibrating then we can close once it's working

[2017-02-08 11:14] JustinLangridge commented on #76
These controls have been removed from UI (by Dave). We don't need them so closing this one.

[2017-02-08 11:14] #76 closed, assigned to lo-co

[2017-02-08 11:17] JustinLangridge commented on #99
Is this still a problem?

[2017-02-08 11:23] JustinLangridge commented on #124
Matt has this been addressed and is it really ready for testing. I think we still have problems here

[2017-02-08 11:31] JustinLangridge commented on #127
Agreed this is future work. We may want to look at changing behaviour of initialisation a bit (so that probes are not permanently given up on), but this would be something to look at in the future

[2017-02-08 11:35] JustinLangridge commented on #140
I don't think the speaker is coming on and off (e.g. the speaker power light is not cycling). This is also not a problem for the final data (it is easy to filter out). However can we just remove this 1s from the IA data plotted on the UI as the impacts on scaling are annoying.

[2017-02-08 11:36] JustinLangridge commented on #144
Closing this for now. We'll see how it performs when operating on the aircraft network. If there are issues we will re-open.

[2017-02-08 11:36] #144 closed, assigned to lo-co

[2017-02-08 11:38] JustinLangridge commented on #158
We'll look at this when operating over the next 2-3 weeks. If it doesn't occur any longer then we'll close

[2017-02-08 13:46] JustinLangridge commented on #171
This is working. Closing

[2017-02-08 13:46] #171 closed, assigned to lo-co

[2017-02-08 13:46] JustinLangridge commented on #174
This works. Closing

[2017-02-08 13:46] #174 closed, assigned to lo-co

[2017-02-08 17:17] JustinLangridge commented on #160
Current status of this is that we can save  single shot ringdown traces for one channel at a time. Trying to save all channels at once crashes the system. Currently the control of which channel to save is hard wired.

Is this the best we are going to be able to achieve?

[2017-02-08 21:20] lo-co commented on #72
This is currently in the data file...says ''2'' for ozone regardless of sequence.

[2017-02-08 21:21] lo-co commented on #72
And yes, this should be add to data file rather than configuration file.  Closing this as duplicate of #83 which is currently better documented.

[2017-02-08 21:21] #72 closed, assigned to lo-co

[2017-02-08 21:22] lo-co commented on #124
Did you check it?  I would have probably checked it before removing the tag.  I will look into it.

[2017-02-08 21:28] lo-co commented on #140
@JustinLangridge  The speaker is very clearly turning back on briefly.  Please look at the graphs and you will see what is happening.  The spike is EXACTLY related to this odd feature.  I turn it off once, the speaker goes off and then briefly comes on again!  The speaker power light is not cycling because the software is not the source of this.  I will reemphasize what I said above - THIS LOOKS L

[2017-02-10 08:15] lo-co commented on #38
Added new step ``Pressure Control Rate STEP`` (bad name).  This is triggered when the value ``P-Ctl`` is read from the file.  On the UI side, I added a pressure control step in the calibration controller (``ex.calibration.ctl.js``).

[2017-02-10 08:19] lo-co commented on #83
In ``Calibration Actor::Actor Core``, disabled the select for o3 and replaced the output with 1.

[2017-02-10 15:06] datid commented on #140
I think I have got to the bottom of this ....  There were two issues, firstly if an error goes into  reusable\PAS\Data\Cell\Resample Waveforms.vi then it doesn't resample the waveforms.  So when the vi before it had an error - which seemed to happen if turning the speaker on or off - then the waveforms were left at 40kHz which caused issues down stream.  So I wired the error around it so the waves

[2017-02-10 15:20] datid commented on #7
It is nearly there .. except it seems the Red/660 LED is always on when the laser power supply enabled

[2017-02-10 15:21] datid commented on #158
We saw something like this today when one alicat appeared as if it wasn't a controller ( controller:false in cvt ).  Don't know why, but needed a reboot to get it right.

[2017-02-10 16:06] datid commented on #140
This has fixed it. Can be closed from my perspective (me being justin)

[2017-02-10 17:22] datid commented on #170
Just tested this, it is all working - thank you

[2017-02-10 17:36] lo-co commented on #140
That is fine.  I would recommend actually trying to figure out why the DMA is backing up and properly handling the error thrown in ``PAS::Analyze Data`` that is causing it to miss the resample code.

[2017-02-13 06:31] lo-co commented on #124
OK...so this does what it is supposed to do from the code standpoint.  When ``eCRDS::Configure`` is called, the ``Laser Enable CMD`` object is shipped.  I can see that the values are read correctly from the configuration file (all ``TRUE``).
Can you please check this again?

[2017-02-13 06:55] lo-co commented on #159
Need to look at this when the lasers are enabled to test anything.

[2017-03-17 12:35] #140 closed, assigned to lo-co

[2017-03-17 12:36] JustinLangridge opened #175 "Online extinction calculation is incorrect"

[2017-03-17 12:39] JustinLangridge opened #176 "Humidifier setpoint logs"
Humidifier set point updates are dominating the logs when running in RH control mode. Can these be suppressed or limited?

[2017-03-17 12:40] JustinLangridge opened #177 "Online absorption calculation"
Need to verify that the online absorption calculation is being calculated correctly.

[2017-03-17 12:41] #177 closed, assigned to nobody

[2017-03-29 03:15] lo-co commented on #175
Ummmm...this needs some details?

[2017-03-29 03:15] lo-co commented on #163
Was this ever tested?

[2017-03-29 03:17] #99 closed, assigned to lo-co

[2017-03-29 12:53] JustinLangridge commented on #163
Some things in the data file may be changed at a later date, but in terms of this issue I'm happy to close.

[2017-03-29 12:53] #163 closed, assigned to lo-co, datid

[2017-03-29 15:56] JustinLangridge opened #178 "add stop functionality to ozone auto cals"
Currently there is no way to stop the auto cal once it is started. This issue s to add a stop button to give the user this functionality

[2017-03-29 15:58] JustinLangridge commented on #158
Removing ready for testing label as there is nothing to test here. Occasionally we still see that an Alicat is missing (to my knowledge last time this occured was during the MOYA detachment). A restart of the system usually fixes the problem. Matt does Dave's comment above give you a clue as to what is happening?

[2017-03-29 16:02] JustinLangridge commented on #124
Ok the CRDS side of this is working . Closing this issue. If we come across similar instances in the future will raise them as separate issues

[2017-03-29 16:02] #124 closed, assigned to lo-co

[2017-03-29 16:04] JustinLangridge commented on #38
Auto cals are working and thus closing this issue

[2017-03-29 16:04] #38 closed, assigned to lo-co

[2017-04-21 06:22] lo-co opened #179 "Add ability to adjust the DC of the CRD lasers"
This was hard coded (as well as the laser frequency).

[2017-04-21 06:27] lo-co commented on #179
@JustinLangridge and @datid - this is the corresponding server side functionality requested on the client side in msr-consulting/exscalabar#76.  This functionality has been put in for the initialization, but I need to note this:

Anyway, this is ready for some initial shaking out.  Please test this with the lasers on and see if you get what you expect.  Ask questions.

[2017-04-21 14:31] JustinLangridge commented on #179
Matt, this appears to have caused issues - see attached screen shot. Changing the DC control still appears to have no effect

![image](https://cloud.githubusercontent.com/assets/13215746/25282035/34637226-26a7-11e7-9308-26c947927ae5.png)

[2017-04-26 17:37] lo-co commented on #179
OK - so the problem of continual resets was related to the configuration of the red laser - we set up for taking 1250 samples but were only acquiring 500 per shot (was missing the DC value - ``1250*0.4=500``).

The initialization issue appears to be gone and this works as expected *if* you do not change the laser rates.

[2017-04-26 18:24] lo-co commented on #179
Fixed issue associated with the above image.  Once again, the changing of the rep rate was not accounting for the duty cycle properly.  All appears well now.

[2017-04-26 18:31] lo-co commented on #179
This image was taken after changing the laser rep rate several times.

![fixed_rd](https://cloud.githubusercontent.com/assets/9597736/25450431/29295654-2a7c-11e7-9bd1-f8e0d3064289.png)

[2017-04-26 23:14] lo-co commented on #179
Added new VI to web service for changing the DC.  Works.  Sort of.

[2017-05-03 17:00] lo-co commented on #179
I consider this closed on both the client and the server.  Below are images from a run today with resetting the DC.

## DC = 10%

![crd_dc10](https://cloud.githubusercontent.com/assets/9597736/25671880/c1aca8a0-2fee-11e7-8aae-af1c6f45b6ee.png)

## DC = 40%

![crd_dc40](https://cloud.githubusercontent.com/assets/9597736/25671889/c7ea70c6-2fee-11e7-9386-75bf98fe36d2.png)

[2017-05-03 17:00] #179 closed, assigned to lo-co

[2017-05-05 22:33] lo-co commented on #179
Still have a problem - web service will not **publish** but will run.  Likely something going on with one of the classes. Changed how I message the CRDS instrument via the Instrument Actor and did not workout.

[2017-05-10 10:33] datid commented on #179
Leading space in Update red DC - caused all sorts of publishing issues - now rectified.

[2017-06-08 09:42] datid commented on #175
I think this is sorted now https://github.com/msr-consulting/exscalabar_server/commit/6de6a835a444192fb9143d204269390745bcc55e

[2017-06-08 09:42] #175 closed, assigned to nobody

[2017-06-08 09:43] datid commented on #162
Seem to be doing the right thing

[2017-06-08 09:43] #162 closed, assigned to lo-co, datid

[2017-06-08 09:44] datid commented on #159
I think this is OK now

[2017-06-08 09:44] #159 closed, assigned to lo-co

[2017-06-29 10:01] datid commented on #178
The web service works - just needs a UI button
http://192.168.101.214:8080/xService/Calibration/StopCalibration

[2017-06-29 10:04] datid opened #180 "Saving problem on restart"
Though the save mode is set to True it sometimes fails to save data.
Could be a registration problem, possibly caused by a shutdown issue

Not all the meerstetters seem to stop properly -

[code]

[2017-06-29 13:47] lo-co commented on #180
So,  the more interesting thing would be to see the restart after this.  The 1556 error indicates that we have closed something before we intended to.  Not certain that this is exactly related to the Meerstetter, but it gives us a starting point.  The best way to approach this is to stop and start the program until we get this issue.  Can we leave the Meerstetters on possibly so I can look at this

[2017-06-29 20:52] lo-co opened #181 "Set Filter == TRUE when cal completes"
Currently it seems that the system goes to sample at the end of a calibration.

[2017-06-29 21:27] lo-co commented on #181
@JustinLangridge So this was initially intended to maintain the state of the system *before* the calibration started.  It is unclear to me whether the system was storing the state properly, but I assumed it did.  So it could have been that the system was always running in sample mode when a calibration kicked off.  I have removed the filter state requirement and now the ``Calibration Actor`` sends

[2017-06-29 21:27] #181 closed, assigned to lo-co

[2017-06-29 21:33] lo-co commented on #180
Closed lo-co/exscalabar#129 that indicated that the UI was the issue.

[2017-06-29 22:12] lo-co commented on #180
This appears to be caused by the serial session closing.  Not sure what is going on, but if the serial connection does not close down properly and you just restart, then you can expect things to hang.  The question is why the TECs are not kicking out at start to prevent the system from not coming up properly.

[2017-06-29 22:27] lo-co commented on #180
Adding message to ``Serial Session::clear Session Data``

The error is not fed into this one so that we will know if an error is thrown when an attempt to close a session is made.

[2017-06-29 22:37] lo-co commented on #180
Added message in ``Serial Session::Configure Session`` indicating which port we are kicking off a session for.  Message is

We don't want to handle the serial error here if there is one as this will cause the system to kick off the actor.

[2017-06-30 05:31] lo-co commented on #180
Something looks backwards in the logs here - I get a device stopping message which would be generated by the actor and then I get messages associated with setting up the TECs for shutdown.  I will investigate further tomorrow.

Regardless, it looks like the session queue is killed prior to the final TEC shutdown code being called.

[2017-06-30 20:15] lo-co commented on #180
Able to reproduce behavior by starting the program and then cycling the instrument  on and off via the UI several times (3).  Each time, I attempted to save a file.  Third or fourth time it failed.

[2017-06-30 21:10] lo-co commented on #180
So, this is not clear whether this is a device registration issue or whether this is an actual file saving issue.  When the save button is hit, the user should get a message that looks like

When it doesn't start saving, you don't get this message.

The message

is generated but the ``Save Data MSG::Do`` in the ``Controller`` library and is sent by the file save web service VI.  What this will do

[2017-06-30 21:13] lo-co commented on #180
Sooo...totally broke this with a restart.  Now it doesn't even give the message.

Cycling stop-start got the save state back and a file writing (although no mirror).

[2017-07-01 05:25] lo-co commented on #180
Added a Sys Log hook in the serial session.  It is opened in the configuration routine and closed in the ``clear Session Data`` routine.  Now there are some new messages that have the tag ``[serial]``.

Still getting errors at the closing of *each* of the serial sessions.  Not sure what is going on here, but if they are not closing properly then this could be a big issue.

[2017-07-03 04:36] lo-co opened #182 "Fix message on enqueuer removal"
Currently tagged as ``[ct]`` where should be ``[ctl]``.

[2017-07-03 04:41] #182 closed, assigned to lo-co

[2017-07-03 05:47] lo-co commented on #180
Appears to be an issue with both the MFCs and the Meerstetters shutdown sequence.  The ``Serial Session`` property is closed with the first call to close the session.

Another issue that I found was that the Vaisala code never called a close on the serial port.  *This may have been the real issue, but I can not confirm this right now.*  I have changed the method ``Vaisala::Close`` to the override

[2017-07-03 06:25] lo-co commented on #180
I think the above fix worked.  Stopped and started 10x with no fails - wrote to file every time.  Will be closing this issue with next check in.  Still having an unrelated issue with the MFCs and Meerstetters.

[2017-07-03 07:16] #180 closed, assigned to lo-co

[2017-11-20 23:35] lo-co opened #183 "Fix Alicat model string"
The model string returned in the CVT is pure garbage and *can create issues with the json string if it contains unprintable characters* (saw this recently in another instrument).  Simple fix for this is to get only the model string (currently returns everything after `Model` or `Model Number`).

[2017-11-20 23:56] lo-co opened #184 "Clear messages at shutdown"
When shutting down, the system can close abruptly without fully registering with the data web service request.  Fix this so that we know how everything shutdown...

[2018-07-25 14:44] datid opened #185 "FPGA clock isn't synced with the PXI"
Maybe part of the phase walking etc -

![image](https://user-images.githubusercontent.com/12166983/43208023-4be201b2-9021-11e8-96b6-7f63b7db7029.png)

It looks like maybe we should have the Synchronize FPGA clock to PXI_Clk10  checked in the RIO device set up.

[2018-07-25 15:41] lo-co commented on #185
Shouldn't be an issue.  We don't do anything else with that clock, so we don't need to synchronize this.  The phase walking is due to an incorrect number of samples, not synchronization.

[2018-08-30 13:12] datid commented on #185
PASphase branch addresses this.  Sets it to synchronized, but also uses DAQmx to ensure the 6225 card uses PXI_Clk10 as its reference clock.